In [14]:
import pandas as pd
import numpy as np
from urllib.request import urlopen
import matplotlib.pyplot as plt
import seaborn as sns

# Allow multiple output
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [15]:
!git clone https://github.com/adamxrvn/coursework.git

fatal: destination path 'coursework' already exists and is not an empty directory.

In [16]:
!unzip -o coursework/data/dataset_clean.zip
!unzip -o coursework/data/dataset_phones.zip
!unzip -o coursework/data/dataset_delivered.zip

Archive:  coursework/data/dataset_clean.zip
  inflating: content/dataset_clean.csv
Archive:  coursework/data/dataset_phones.zip
  inflating: content/dataset_phones.csv
Archive:  coursework/data/dataset_delivered.zip
  inflating: content/dataset_delivered.csv

In [17]:
# import datasets 
df_clean = pd.read_csv('content/dataset_clean.csv',encoding='utf-8')
df_clean.drop(['index'],axis=1,inplace=True)
df_phones = pd.read_csv('content/dataset_phones.csv',encoding='utf-8')

In [18]:
df_delivered = pd.read_csv('content/dataset_delivered.csv',encoding='utf-8')

In [19]:
df_clean.head()

,Дата,НомерЗаказаНаСайте,НовыйСтатус,Регион,Группа2,Группа3,Группа4,Тип,Номенклатура,ТипТовара,...,Телефон_new,ГородМагазина,МагазинЗаказа,ГодДаты,МесяцДаты,ДеньНеделиДаты,ДеньДаты,ВремяОкруглДаты,СуммаСтроки_v,Маржа_v
0,2017-05-01 00:03:00,4513479_TR,Доставлен,Центральный ф.о.,КРУПНОГАБАРИТНЫЙ ТОВАР,ИЗДЕЛИЯ ИЗ ПЛАСТМАССЫ,горшки,КГТ,"ТЕГА, ГОРШОК Веселая Черепаха, Польша",КГТ,...,55574954-50515053535277,0,NaN,2017,5,1,1,00:00:00,152.0,76.00
1,2017-05-01 10:18:00,4513492_TR,К отгрузке,Центральный ф.о.,"ТЕКСТИЛЬ, ТРИКОТАЖ",ДЕТСКАЯ ОДЕЖДА (7-16 лет),жилеты,ОДЕЖДА,"LEADER KIDS, ЖИЛЕТ Тигр, (син), р.140",МГТ,...,55574851-50484949535070,0,NaN,2017,5,1,1,10:00:00,499.0,199.00
2,2017-05-01 15:27:00,4513472_TR,К отгрузке,Центральный ф.о.,"ТЕКСТИЛЬ, ТРИКОТАЖ",ОДЕЖДА ДЛЯ НОВОРОЖДЕННЫХ (0-2 лет),комбинезоны,ОДЕЖДА,"MAKOMA, КОМБИНЕЗОН с капюш. My bear, р. 80, По...",МГТ,...,55575456-53575451535378,0,NaN,2017,5,1,1,15:00:00,678.2,316.77
3,2017-05-01 15:27:00,4513472_TR,К отгрузке,Центральный ф.о.,"ТЕКСТИЛЬ, ТРИКОТАЖ",ДЕТСКИЕ КОЛГОТКИ И НОСКИ,носки,ОДЕЖДА,"ЗАЙКА МОЯ, НОСКИ дет., р. L",МГТ,...,55575456-53575451535378,0,NaN,2017,5,1,1,15:00:00,89.0,51.00
4,2017-05-01 15:27:00,4513472_TR,К отгрузке,Центральный ф.о.,"ТЕКСТИЛЬ, ТРИКОТАЖ",ОДЕЖДА ДЛЯ НОВОРОЖДЕННЫХ (0-2 лет),песочники,ОДЕЖДА,"SOFIJA, ПЕСОЧНИК Bazyl, (сер), р. 80, Польша",МГТ,...,55575456-53575451535378,0,NaN,2017,5,1,1,15:00:00,1080.0,505.20

In [20]:
df_phones.head()

,level_0,index,Дата,НомерЗаказаНаСайте,НовыйСтатус,Регион,Группа2,Группа3,Группа4,Тип,...,Телефон_new,ГородМагазина,МагазинЗаказа,ГодДаты,МесяцДаты,ДеньНеделиДаты,ДеньДаты,ВремяОкруглДаты,СуммаСтроки_v,Маржа_v
0,0,0,2017-05-01 00:03:00,4513479_TR,Доставлен,Центральный ф.о.,КРУПНОГАБАРИТНЫЙ ТОВАР,ИЗДЕЛИЯ ИЗ ПЛАСТМАССЫ,горшки,КГТ,...,55574954-50515053535277,0,NaN,2017,5,1,1,00:00:00,152.0,76.00
1,1,1,2017-05-01 10:18:00,4513492_TR,К отгрузке,Центральный ф.о.,"ТЕКСТИЛЬ, ТРИКОТАЖ",ДЕТСКАЯ ОДЕЖДА (7-16 лет),жилеты,ОДЕЖДА,...,55574851-50484949535070,0,NaN,2017,5,1,1,10:00:00,499.0,199.00
2,2,9,2017-05-01 15:27:00,4513472_TR,К отгрузке,Центральный ф.о.,"ТЕКСТИЛЬ, ТРИКОТАЖ",ОДЕЖДА ДЛЯ НОВОРОЖДЕННЫХ (0-2 лет),комбинезоны,ОДЕЖДА,...,55575456-53575451535378,0,NaN,2017,5,1,1,15:00:00,678.2,316.77
3,3,10,2017-05-01 15:27:00,4513472_TR,К отгрузке,Центральный ф.о.,"ТЕКСТИЛЬ, ТРИКОТАЖ",ДЕТСКИЕ КОЛГОТКИ И НОСКИ,носки,ОДЕЖДА,...,55575456-53575451535378,0,NaN,2017,5,1,1,15:00:00,89.0,51.00
4,4,11,2017-05-01 15:27:00,4513472_TR,К отгрузке,Центральный ф.о.,"ТЕКСТИЛЬ, ТРИКОТАЖ",ОДЕЖДА ДЛЯ НОВОРОЖДЕННЫХ (0-2 лет),песочники,ОДЕЖДА,...,55575456-53575451535378,0,NaN,2017,5,1,1,15:00:00,1080.0,505.20

In [21]:
df_delivered.head()

,level_0,index,Дата,НомерЗаказаНаСайте,НовыйСтатус,Регион,Группа2,Группа3,Группа4,Тип,...,Телефон_new,ГородМагазина,МагазинЗаказа,ГодДаты,МесяцДаты,ДеньНеделиДаты,ДеньДаты,ВремяОкруглДаты,СуммаСтроки_v,Маржа_v
0,0,0,2017-05-01 00:03:00,4513479_TR,Доставлен,Центральный ф.о.,КРУПНОГАБАРИТНЫЙ ТОВАР,ИЗДЕЛИЯ ИЗ ПЛАСТМАССЫ,горшки,КГТ,...,55574954-50515053535277,0,NaN,2017,5,1,1,00:00:00,152.0,76.00
1,1,1,2017-05-01 10:18:00,4513492_TR,К отгрузке,Центральный ф.о.,"ТЕКСТИЛЬ, ТРИКОТАЖ",ДЕТСКАЯ ОДЕЖДА (7-16 лет),жилеты,ОДЕЖДА,...,55574851-50484949535070,0,NaN,2017,5,1,1,10:00:00,499.0,199.00
2,2,9,2017-05-01 15:27:00,4513472_TR,К отгрузке,Центральный ф.о.,"ТЕКСТИЛЬ, ТРИКОТАЖ",ОДЕЖДА ДЛЯ НОВОРОЖДЕННЫХ (0-2 лет),комбинезоны,ОДЕЖДА,...,55575456-53575451535378,0,NaN,2017,5,1,1,15:00:00,678.2,316.77
3,3,10,2017-05-01 15:27:00,4513472_TR,К отгрузке,Центральный ф.о.,"ТЕКСТИЛЬ, ТРИКОТАЖ",ДЕТСКИЕ КОЛГОТКИ И НОСКИ,носки,ОДЕЖДА,...,55575456-53575451535378,0,NaN,2017,5,1,1,15:00:00,89.0,51.00
4,4,11,2017-05-01 15:27:00,4513472_TR,К отгрузке,Центральный ф.о.,"ТЕКСТИЛЬ, ТРИКОТАЖ",ОДЕЖДА ДЛЯ НОВОРОЖДЕННЫХ (0-2 лет),песочники,ОДЕЖДА,...,55575456-53575451535378,0,NaN,2017,5,1,1,15:00:00,1080.0,505.20

# Pivot Tables

We need to create pivot tables across 3 datasets:
1. Across the entire data slice
2. Across purchased goods 
3. Across receipts with customer ID (for identification we choose phine number "Телефон_new")

In [22]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 529786 entries, 0 to 529785
Data columns (total 30 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Дата                529786 non-null  object
 1   НомерЗаказаНаСайте  529786 non-null  object
 2   НовыйСтатус         529786 non-null  object
 3   Регион              529786 non-null  object
 4   Группа2             434503 non-null  object
 5   Группа3             434503 non-null  object
 6   Группа4             413850 non-null  object
 7   Тип                 529786 non-null  object
 8   Номенклатура        529786 non-null  object
 9   ТипТовара           434503 non-null  object
 10  Отменено            529786 non-null  object
 11  Количество          529786 non-null  int64
 12  Цена                529786 non-null  float64
 13  ЦенаЗакупки         432913 non-null  float64
 14  МесяцДатыЗаказа     529786 non-null  int64
 15  ГодДатыЗаказа       529786 non-null  object
 16  Статус              529786 non-null  object
 17  Гео                 529786 non-null  object
 18  НомерСтроки         529786 non-null  int64
 19  ДатаЗаказаНаСайте   529786 non-null  object
 20  Телефон_new         529786 non-null  object
 21  ГородМагазина       529786 non-null  object
 22  МагазинЗаказа       3317 non-null    object
 23  ГодДаты             529786 non-null  int64
 24  МесяцДаты           529786 non-null  int64
 25  ДеньНеделиДаты      529786 non-null  int64
 26  ДеньДаты            529786 non-null  int64
 27  ВремяОкруглДаты     529786 non-null  object
 28  СуммаСтроки_v       529786 non-null  float64
 29  Маржа_v             432913 non-null  float64
dtypes: float64(4), int64(7), object(19)
memory usage: 121.3+ MB

In [23]:
pd.set_option('display.max_columns', None)
df_clean

,Дата,НомерЗаказаНаСайте,НовыйСтатус,Регион,Группа2,Группа3,Группа4,Тип,Номенклатура,ТипТовара,Отменено,Количество,Цена,ЦенаЗакупки,МесяцДатыЗаказа,ГодДатыЗаказа,Статус,Гео,НомерСтроки,ДатаЗаказаНаСайте,Телефон_new,ГородМагазина,МагазинЗаказа,ГодДаты,МесяцДаты,ДеньНеделиДаты,ДеньДаты,ВремяОкруглДаты,СуммаСтроки_v,Маржа_v
0,2017-05-01 00:03:00,4513479_TR,Доставлен,Центральный ф.о.,КРУПНОГАБАРИТНЫЙ ТОВАР,ИЗДЕЛИЯ ИЗ ПЛАСТМАССЫ,горшки,КГТ,"ТЕГА, ГОРШОК Веселая Черепаха, Польша",КГТ,Нет,1,152.0,76.00,5,2 017,Доставлен,Москва,2,2017-04-30,55574954-50515053535277,0,NaN,2017,5,1,1,00:00:00,152.0,76.00
1,2017-05-01 10:18:00,4513492_TR,К отгрузке,Центральный ф.о.,"ТЕКСТИЛЬ, ТРИКОТАЖ",ДЕТСКАЯ ОДЕЖДА (7-16 лет),жилеты,ОДЕЖДА,"LEADER KIDS, ЖИЛЕТ Тигр, (син), р.140",МГТ,Нет,1,499.0,300.00,5,2 017,Доставлен,Москва,1,2017-04-30,55574851-50484949535070,0,NaN,2017,5,1,1,10:00:00,499.0,199.00
2,2017-05-01 15:27:00,4513472_TR,К отгрузке,Центральный ф.о.,"ТЕКСТИЛЬ, ТРИКОТАЖ",ОДЕЖДА ДЛЯ НОВОРОЖДЕННЫХ (0-2 лет),комбинезоны,ОДЕЖДА,"MAKOMA, КОМБИНЕЗОН с капюш. My bear, р. 80, По...",МГТ,Нет,1,678.2,361.43,5,2 017,Доставлен,Москва,6,2017-04-30,55575456-53575451535378,0,NaN,2017,5,1,1,15:00:00,678.2,316.77
3,2017-05-01 15:27:00,4513472_TR,К отгрузке,Центральный ф.о.,"ТЕКСТИЛЬ, ТРИКОТАЖ",ДЕТСКИЕ КОЛГОТКИ И НОСКИ,носки,ОДЕЖДА,"ЗАЙКА МОЯ, НОСКИ дет., р. L",МГТ,Нет,1,89.0,38.00,5,2 017,Доставлен,Москва,8,2017-04-30,55575456-53575451535378,0,NaN,2017,5,1,1,15:00:00,89.0,51.00
4,2017-05-01 15:27:00,4513472_TR,К отгрузке,Центральный ф.о.,"ТЕКСТИЛЬ, ТРИКОТАЖ",ОДЕЖДА ДЛЯ НОВОРОЖДЕННЫХ (0-2 лет),песочники,ОДЕЖДА,"SOFIJA, ПЕСОЧНИК Bazyl, (сер), р. 80, Польша",МГТ,Нет,1,1080.0,574.80,5,2 017,Доставлен,Москва,12,2017-04-30,55575456-53575451535378,0,NaN,2017,5,1,1,15:00:00,1080.0,505.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529781,2017-06-30 22:55:00,5031477_TR,Доставлен,Центральный ф.о.,ДЕТСКОЕ ПИТАНИЕ,ПЮРЕ,пюре овощные,ППКП,"СЭМПЕР, ПЮРЕ цукини, с 4-х мес., (125 г)",МГТ,Нет,7,70.0,58.96,6,2 017,Доставлен,Москва,8,2017-06-30,55574857-57485151544876,0,NaN,2017,6,5,30,22:00:00,490.0,77.28
529782,2017-06-30 22:55:00,5031477_TR,Доставлен,Центральный ф.о.,ДЕТСКОЕ ПИТАНИЕ,ПЮРЕ,пюре мясные,ППКП,"СЭМПЕР, ПЮРЕ телятина, (мономясо), с 6 мес., (...",МГТ,Нет,2,99.0,98.50,6,2 017,Доставлен,Москва,6,2017-06-30,55574857-57485151544876,0,NaN,2017,6,5,30,22:00:00,198.0,1.00
529783,2017-06-30 23:13:00,5031575_TR,К отгрузке,Северо-Западный ф.о.,"ТЕКСТИЛЬ, ТРИКОТАЖ",ДЕТСКАЯ ОДЕЖДА (7-16 лет),футболки,ОДЕЖДА,"BEMBI, ФУТБОЛКА (бел), р.128",МГТ,Нет,1,199.0,96.00,6,2 017,Доставлен,Регионы,1,2017-06-30,55575348-48504953555074,0,NaN,2017,6,5,30,23:00:00,199.0,103.00
529784,2017-06-30 23:58:00,5031783_TR,Доставлен,Приволжский ф.о.,ДЕТСКОЕ ПИТАНИЕ,ПЮРЕ,пюре ассорти,ППКП,"ХИПП, ПЮРЕ каша груша-зерновые хлопья, с 4 мес...",МГТ,Нет,4,84.0,83.90,6,2 017,Доставлен,Регионы,2,2017-06-30,55575450-53495456535575,0,NaN,2017,6,5,30,23:00:00,336.0,0.40
529785,2017-06-30 23:58:00,5031783_TR,Доставлен,Приволжский ф.о.,ДЕТСКОЕ ПИТАНИЕ,ПЮРЕ,пюре ассорти,ППКП,"ХИПП, ПЮРЕ каша зерновая-банан-яблоки, с 8 мес...",МГТ,Нет,2,84.0,83.90,6,2 017,Доставлен,Регионы,3,2017-06-30,55575450-53495456535575,0,NaN,2017,6,5,30,23:00:00,168.0,0.20

Calculation of indicators to be investigated in the dataset

In [24]:
df_clean = df_clean.dropna(subset = ['Маржа_v'])
df_delivered = df_delivered.dropna(subset = ['Маржа_v'])
df_phones = df_phones.dropna(subset = ['Маржа_v'])

In [25]:
def generate_table(df, column_name = "МесяцДатыЗаказа"): 
    columns_list = [column_name, 'Revenue', 'Absolute Margin', 'Margin', 'Average Margin', 'Average Check',
                                  '# of check', '# of goods', 
                                 'Average # of goods in check',
                                 '# of unique clients', 'Value of a Client']
    
    unique_values = df[column_name].unique()
    total = pd.DataFrame(columns=columns_list)
    
    for val in unique_values:
        
        list_of_values = [val] 
        filtered_df = df[df[column_name] == val]
        
        # Revenue
        revenue = int(round(filtered_df['СуммаСтроки_v'].sum()))
        list_of_values.append(revenue)
        
        # Absolute margin
        absmargin = int(round(filtered_df['Маржа_v'].sum()))
        list_of_values.append(absmargin)
        
        # Margin
        margin = absmargin/revenue                                                
        list_of_values.append(margin)
        
        # Average Margin деление
        df_numb_check = filtered_df['СуммаСтроки_v'].unique() 
        numb_check = df_numb_check.size                            
        absmargin = int(round(filtered_df['Маржа_v'].sum()))
        list_of_values.append(absmargin/numb_check) 
        
        # Average check
        avarage_check = int(round(
            filtered_df.groupby(['НомерЗаказаНаСайте']).mean()['СуммаСтроки_v'].mean()))
        list_of_values.append(avarage_check)
        
        # Number of checks
        list_of_values.append(numb_check)
        
        # Number of goods 
        numb_good = filtered_df['Количество'].sum()
        list_of_values.append(numb_good) 
        
        # Average # of goods in check
        avarage_numb_good = int(round(
            filtered_df.groupby(['НомерЗаказаНаСайте']).count()['СуммаСтроки_v'].mean()))
        list_of_values.append(avarage_numb_good)
        
        # Number of unique clients
        num_of_customers = filtered_df['Телефон_new'].unique().size
        list_of_values.append(num_of_customers)

        # Client's value
        value_of_customer = int(round(absmargin / num_of_customers))
        list_of_values.append(value_of_customer) 

        tmp_df = pd.DataFrame([list_of_values], columns=columns_list) 
        total = total.append(tmp_df, ignore_index=True)
        
    return total

Ordered Goods

Pivot table of Ordered Goods in Group 2

In [81]:
pivot_table_group2_all = generate_table(df_clean, column_name="Группа2") 
pivot_table_group2_all = pivot_table_group2_all.sort_values('Группа2', ascending = False) 
pivot_table_group2_all = pivot_table_group2_all.reset_index()
pivot_table_group2_all = pivot_table_group2_all.drop('index', axis=1)
pivot_table_group2_all

,Группа2,Revenue,Absolute Margin,Margin,Average Margin,Average Check,# of check,# of goods,Average # of goods in check,# of unique clients,Value of a Client
0,ТОВАРЫ ДЛЯ КОРМЛЕНИЯ,14634097,2243116,0.153280,871.113010,714,2575,28714,2,12161,184
1,ТОВАРЫ ДЛЯ ЖИВОТНЫХ,3200082,59412,0.018566,68.211251,1054,871,16123,3,1615,37
2,ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА,50834,10556,0.207656,100.533333,457,105,158,1,84,126
3,"ТЕКСТИЛЬ, ТРИКОТАЖ",44903129,14270501,0.317806,4244.646341,796,3362,84463,3,20734,688
4,СОПУТСТВУЮЩИЕ ТОВАРЫ,240839,75953,0.315368,292.126923,342,260,1161,2,592,128
5,ПОДГУЗНИКИ,61816906,2121263,0.034315,973.949954,1505,2178,65776,1,23508,90
6,ОБУВЬ,12568543,4472073,0.355815,2942.153289,980,1520,13327,1,7641,585
7,КРУПНОГАБАРИТНЫЙ ТОВАР,138828258,40449249,0.291362,9256.121053,5542,4370,27250,1,20429,1980
8,КОСМЕТИКА/ГИГИЕНА,10298208,1600655,0.155430,1132.806086,296,1413,55913,3,12530,128
9,"КАНЦТОВАРЫ, КНИГИ, ДИСКИ",3987533,1199249,0.300750,550.619376,492,2178,19687,3,4833,248
10,ИГРУШКИ,59177805,10344708,0.174807,1654.623800,1065,6252,87675,2,32358,320
11,ЖЕНСКИЕ ШТУЧКИ,110187,62826,0.570176,367.403509,152,171,930,2,350,180
12,ДЕТСКОЕ ПИТАНИЕ,38622047,1974866,0.051133,772.035184,1051,2558,277345,5,14151,140

Pivot table of Buyed Goods in Group 2

In [82]:
pivot_table_group2_del = generate_table(df_delivered, column_name="Группа2") 
pivot_table_group2_del = pivot_table_group2_del.sort_values('Группа2', ascending = False) 
pivot_table_group2_del = pivot_table_group2_del.reset_index()
pivot_table_group2_del = pivot_table_group2_del.drop('index', axis=1)
pivot_table_group2_del

,Группа2,Revenue,Absolute Margin,Margin,Average Margin,Average Check,# of check,# of goods,Average # of goods in check,# of unique clients,Value of a Client
0,ТОВАРЫ ДЛЯ КОРМЛЕНИЯ,13332385,2045213,0.153402,840.959293,736,2432,25473,2,10997,186
1,ТОВАРЫ ДЛЯ ЖИВОТНЫХ,2997601,57142,0.019063,67.864608,1087,842,14877,3,1497,38
2,ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА,42254,9157,0.216713,95.385417,417,96,145,1,75,122
3,"ТЕКСТИЛЬ, ТРИКОТАЖ",34521756,11098305,0.321487,3746.895679,802,2962,65372,3,17060,651
4,СОПУТСТВУЮЩИЕ ТОВАРЫ,209661,65987,0.314732,293.275556,382,225,892,2,469,141
5,ПОДГУЗНИКИ,57750417,1966673,0.034055,928.990553,1524,2117,61078,1,22042,89
6,ОБУВЬ,8804679,3096718,0.351713,2463.578361,962,1257,9564,1,5741,539
7,КРУПНОГАБАРИТНЫЙ ТОВАР,126874662,36945067,0.291193,8947.703318,5562,4129,24813,1,18869,1958
8,КОСМЕТИКА/ГИГИЕНА,9244370,1436399,0.155381,1050.767374,303,1367,49784,3,11300,127
9,"КАНЦТОВАРЫ, КНИГИ, ДИСКИ",3413054,1025666,0.300513,520.642640,508,1970,16198,3,4147,247
10,ИГРУШКИ,53455672,9414763,0.176123,1621.557527,1110,5806,75397,2,29309,321
11,ЖЕНСКИЕ ШТУЧКИ,88253,49027,0.555528,308.345912,149,159,773,2,285,172
12,ДЕТСКОЕ ПИТАНИЕ,36450096,1857644,0.050964,744.546693,1088,2495,258183,5,13181,141

Pivot table of Unique Clients in Group 2

In [62]:
pivot_table_group2_unique = generate_table(df_phones, column_name="Группа2") 
pivot_table_group2_unique.sort_values('Группа2', ascending = False)

,Группа2,Revenue,Absolute Margin,Margin,Average Margin,Average Check,# of check,# of goods,Average # of goods in check,# of unique clients,Value of a Client
5,ТОВАРЫ ДЛЯ КОРМЛЕНИЯ,14634097,2243116,0.153280,871.113010,714,2575,28714,2,12161,184
12,ТОВАРЫ ДЛЯ ЖИВОТНЫХ,3200082,59412,0.018566,68.211251,1054,871,16123,3,1615,37
11,ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА,50834,10556,0.207656,100.533333,457,105,158,1,84,126
1,"ТЕКСТИЛЬ, ТРИКОТАЖ",44903129,14270501,0.317806,4244.646341,796,3362,84463,3,20734,688
6,СОПУТСТВУЮЩИЕ ТОВАРЫ,240839,75953,0.315368,292.126923,342,260,1161,2,592,128
9,ПОДГУЗНИКИ,61816906,2121263,0.034315,973.949954,1505,2178,65776,1,23508,90
2,ОБУВЬ,12568543,4472073,0.355815,2942.153289,980,1520,13327,1,7641,585
0,КРУПНОГАБАРИТНЫЙ ТОВАР,138828258,40449249,0.291362,9256.121053,5542,4370,27250,1,20429,1980
8,КОСМЕТИКА/ГИГИЕНА,10298208,1600655,0.155430,1132.806086,296,1413,55913,3,12530,128
4,"КАНЦТОВАРЫ, КНИГИ, ДИСКИ",3987533,1199249,0.300750,550.619376,492,2178,19687,3,4833,248
3,ИГРУШКИ,59177805,10344708,0.174807,1654.623800,1065,6252,87675,2,32358,320
7,ЖЕНСКИЕ ШТУЧКИ,110187,62826,0.570176,367.403509,152,171,930,2,350,180
10,ДЕТСКОЕ ПИТАНИЕ,38622047,1974866,0.051133,772.035184,1051,2558,277345,5,14151,140

Pivot table of Ordered Goods by month

In [31]:
pivot_table_month_all = generate_table(df_clean, column_name="МесяцДаты") 
pivot_table_month_all.sort_values('Revenue', ascending = False)

,МесяцДаты,Revenue,Absolute Margin,Margin,Average Margin,Average Check,# of check,# of goods,Average # of goods in check,# of unique clients,Value of a Client
0,5,209163004,44383896,0.212198,4838.536575,1858,9173,363458,3,53802,825
1,6,179275463,34500532,0.192444,3745.579416,1886,9211,315064,4,46908,735

Pivot table of Purchased Goods by month

In [32]:
pivot_table_month_del = generate_table(df_delivered, column_name="МесяцДаты") 
pivot_table_month_del.sort_values('Revenue', ascending = False)

,МесяцДаты,Revenue,Absolute Margin,Margin,Average Margin,Average Check,# of check,# of goods,Average # of goods in check,# of unique clients,Value of a Client
0,5,186620821,38615920,0.206922,4558.602290,1920,8471,321522,3,48610,794
1,6,160564036,30451841,0.189655,3550.407019,1948,8577,281027,3,42556,716

Pivot table of Unique Clients by month

In [33]:
pivot_table_month_unique = generate_table(df_phones, column_name="МесяцДаты") 
pivot_table_month_unique.sort_values('Revenue', ascending = False)

,МесяцДаты,Revenue,Absolute Margin,Margin,Average Margin,Average Check,# of check,# of goods,Average # of goods in check,# of unique clients,Value of a Client
0,5,209163004,44383896,0.212198,4838.536575,1858,9173,363458,3,53802,825
1,6,179275463,34500532,0.192444,3745.579416,1886,9211,315064,4,46908,735

Pivot table of Ordered Goods by weekday

In [34]:
pivot_table_weekday_all = generate_table(df_clean, column_name="ДеньНеделиДаты") 
pivot_table_weekday_all.sort_values('Revenue', ascending = False)

,ДеньНеделиДаты,Revenue,Absolute Margin,Margin,Average Margin,Average Check,# of check,# of goods,Average # of goods in check,# of unique clients,Value of a Client
2,3,69062638,13676019,0.198023,2411.570975,1702,5671,128008,4,20375,671
1,2,64520287,12383496,0.191932,2298.347439,1722,5388,120443,4,19254,643
3,4,62668114,12708180,0.202785,2304.293744,1749,5515,111482,4,18815,675
0,1,53881469,11727498,0.217654,2311.748078,2040,5073,90462,3,15252,769
4,5,52239347,10436651,0.199785,2012.854581,1828,5185,91739,3,15718,664
6,7,45037448,9499861,0.210932,2092.019599,2185,4541,73846,3,12335,770
5,6,41029163,8452723,0.206017,1935.590337,2140,4367,62542,3,11413,741

Pivot table of Delivered Goods by weekday

In [35]:
pivot_table_weekday_del = generate_table(df_delivered, column_name="ДеньНеделиДаты") 
pivot_table_weekday_del.sort_values('Revenue', ascending = False)

,ДеньНеделиДаты,Revenue,Absolute Margin,Margin,Average Margin,Average Check,# of check,# of goods,Average # of goods in check,# of unique clients,Value of a Client
2,3,61446051,11892282,0.193540,2242.134615,1773,5304,112386,4,18145,655
1,2,57668727,10889185,0.188823,2158.839215,1785,5044,106251,4,17238,632
3,4,55547809,10974089,0.197561,2118.550000,1812,5180,98742,3,16746,655
0,1,48722163,10379827,0.213041,2170.603722,2075,4782,82163,3,13788,753
4,5,46633976,9098775,0.195110,1872.175926,1887,4860,81791,3,13975,651
6,7,40637047,8417104,0.207129,1983.295005,2252,4244,66114,3,11096,759
5,6,36529086,7416500,0.203030,1830.330701,2202,4052,55102,3,10128,732

Pivot table of Unique Clinets by weekday

In [36]:
pivot_table_weekday_unique = generate_table(df_phones, column_name="ДеньНеделиДаты") 
pivot_table_weekday_unique.sort_values('Revenue', ascending = False)

,ДеньНеделиДаты,Revenue,Absolute Margin,Margin,Average Margin,Average Check,# of check,# of goods,Average # of goods in check,# of unique clients,Value of a Client
2,3,69062638,13676019,0.198023,2411.570975,1702,5671,128008,4,20375,671
1,2,64520287,12383496,0.191932,2298.347439,1722,5388,120443,4,19254,643
3,4,62668114,12708180,0.202785,2304.293744,1749,5515,111482,4,18815,675
0,1,53881469,11727498,0.217654,2311.748078,2040,5073,90462,3,15252,769
4,5,52239347,10436651,0.199785,2012.854581,1828,5185,91739,3,15718,664
6,7,45037448,9499861,0.210932,2092.019599,2185,4541,73846,3,12335,770
5,6,41029163,8452723,0.206017,1935.590337,2140,4367,62542,3,11413,741

Pivot table of Ordered Goods by time

In [37]:
pivot_table_time_all = generate_table(df_clean, column_name="ВремяОкруглДаты")
pivot_table_time_all.sort_values('Revenue', ascending = False)

,ВремяОкруглДаты,Revenue,Absolute Margin,Margin,Average Margin,Average Check,# of check,# of goods,Average # of goods in check,# of unique clients,Value of a Client
14,14:00:00,31431175,6497820,0.206732,1673.833076,1969,3882,51683,3,9208,706
2,15:00:00,29360417,6041553,0.205772,1586.959023,1936,3807,48709,3,8773,689
13,16:00:00,29289137,6129284,0.209268,1579.712371,1945,3880,51313,4,8725,702
16,19:00:00,28169335,5920984,0.210193,1620.855188,1980,3653,50767,3,8230,719
12,17:00:00,27905100,5838165,0.209215,1581.729884,1922,3691,50323,4,8188,713
11,12:00:00,26550423,5414780,0.203943,1507.035903,2048,3593,44167,3,7543,718
15,18:00:00,25933033,5359864,0.206681,1506.849592,1986,3557,43441,3,7607,705
6,11:00:00,25060440,5207483,0.207797,1457.046167,1928,3574,41698,3,7516,693
17,20:00:00,22940575,4716864,0.205612,1405.920715,1897,3355,40754,3,6930,681
1,10:00:00,22776979,4668967,0.204986,1418.276731,1895,3292,36973,3,6937,673
5,13:00:00,21926419,4478705,0.204261,1338.925262,2004,3345,38428,4,6332,707
19,22:00:00,20019387,3768001,0.188218,1194.673748,1598,3154,39069,4,6630,568
20,23:00:00,17502501,3262889,0.186424,1059.035703,1555,3081,36584,4,5638,579
18,21:00:00,15879310,3184314,0.200532,1127.589943,1766,2824,27271,3,5140,620
3,02:00:00,14258036,2643855,0.185429,927.017882,1360,2852,29932,4,4895,540
4,09:00:00,10218241,2106816,0.206182,992.844486,2101,2122,14103,3,3023,697
10,08:00:00,6170417,1193342,0.193397,695.420746,1875,1716,9566,3,2023,590
22,07:00:00,3132054,588466,0.187885,499.546689,1680,1178,5352,3,1151,511
0,00:00:00,2570663,484378,0.188425,448.083256,1669,1081,4231,3,910,532
23,01:00:00,2523533,496679,0.196819,488.857283,1740,1016,4386,3,818,607
9,06:00:00,1604347,288147,0.179604,342.624257,1661,841,2842,3,602,479
7,03:00:00,1385611,274408,0.198041,354.990944,1258,773,3111,4,504,544
8,05:00:00,1186408,204407,0.172291,292.010000,1494,700,2374,4,443,461
21,04:00:00,644926,114254,0.177158,219.297505,1298,521,1445,4,221,517

Pivot table of Delivered Goods by time

In [48]:
pivot_table_time_del = generate_table(df_delivered, column_name="ВремяОкруглДаты")
pivot_table_time_del.sort_values('ВремяОкруглДаты', ascending = False)

,ВремяОкруглДаты,Revenue,Absolute Margin,Margin,Average Margin,Average Check,# of check,# of goods,Average # of goods in check,# of unique clients,Value of a Client
19,23:00:00,15412332,2767225,0.179546,966.209846,1604,2864,32582,4,4955,558
18,22:00:00,17891676,3331893,0.186226,1124.879473,1643,2962,34972,3,5927,562
17,21:00:00,14348505,2798231,0.195019,1042.559985,1826,2684,24315,3,4582,611
16,20:00:00,20782565,4232395,0.203651,1330.941824,1955,3180,36451,3,6237,679
15,19:00:00,25348400,5229387,0.206300,1519.728858,2021,3441,45283,3,7399,707
14,18:00:00,23402673,4750493,0.202989,1412.156064,2063,3364,38865,3,6771,702
11,17:00:00,25021825,5123417,0.204758,1483.758181,1973,3453,45225,4,7330,699
12,16:00:00,26261330,5420488,0.206406,1492.014313,1993,3633,45416,3,7788,696
2,15:00:00,26350771,5321005,0.201930,1484.655413,1989,3584,43656,3,7866,676
13,14:00:00,28099176,5696719,0.202736,1562.885871,2025,3645,45721,3,8208,694
5,13:00:00,19761541,3972050,0.200999,1268.215198,2063,3132,34544,3,5691,698
10,12:00:00,24015979,4813645,0.200435,1416.611242,2130,3398,39650,3,6715,717
6,11:00:00,22688930,4595263,0.202533,1373.360132,1996,3346,37748,3,6712,685
1,10:00:00,20278961,4047518,0.199592,1325.316961,1974,3054,32593,3,6140,659
4,09:00:00,8952766,1808182,0.201969,912.301715,2153,1982,12246,3,2654,681
9,08:00:00,5454376,1026815,0.188255,654.439133,1940,1569,8453,3,1767,581
21,07:00:00,2738764,506333,0.184876,484.065966,1727,1046,4649,3,994,509
22,06:00:00,1299455,232137,0.178642,314.548780,1665,738,2203,3,503,462
8,05:00:00,1009735,164136,0.162554,263.884244,1601,622,1987,4,357,460
20,04:00:00,542656,81256,0.149738,181.375000,1379,448,1218,4,185,439
7,03:00:00,1176034,219619,0.186745,324.400295,1384,677,2580,4,420,523
3,02:00:00,11790883,2068031,0.175392,803.743101,1420,2573,24659,4,4143,499
23,01:00:00,2297644,442850,0.192741,474.143469,1850,934,3899,3,722,613
0,00:00:00,2257880,418673,0.185427,423.329626,1761,989,3634,3,783,535

Pivot table of Unique Clients by time

In [47]:
pivot_table_time_unique = generate_table(df_phones, column_name="ВремяОкруглДаты")
pivot_table_time_unique.sort_values('ВремяОкруглДаты', ascending = False)

,ВремяОкруглДаты,Revenue,Absolute Margin,Margin,Average Margin,Average Check,# of check,# of goods,Average # of goods in check,# of unique clients,Value of a Client
20,23:00:00,17502501,3262889,0.186424,1059.035703,1555,3081,36584,4,5638,579
19,22:00:00,20019387,3768001,0.188218,1194.673748,1598,3154,39069,4,6630,568
18,21:00:00,15879310,3184314,0.200532,1127.589943,1766,2824,27271,3,5140,620
17,20:00:00,22940575,4716864,0.205612,1405.920715,1897,3355,40754,3,6930,681
16,19:00:00,28169335,5920984,0.210193,1620.855188,1980,3653,50767,3,8230,719
15,18:00:00,25933033,5359864,0.206681,1506.849592,1986,3557,43441,3,7607,705
12,17:00:00,27905100,5838165,0.209215,1581.729884,1922,3691,50323,4,8188,713
13,16:00:00,29289137,6129284,0.209268,1579.712371,1945,3880,51313,4,8725,702
2,15:00:00,29360417,6041553,0.205772,1586.959023,1936,3807,48709,3,8773,689
14,14:00:00,31431175,6497820,0.206732,1673.833076,1969,3882,51683,3,9208,706
5,13:00:00,21926419,4478705,0.204261,1338.925262,2004,3345,38428,4,6332,707
11,12:00:00,26550423,5414780,0.203943,1507.035903,2048,3593,44167,3,7543,718
6,11:00:00,25060440,5207483,0.207797,1457.046167,1928,3574,41698,3,7516,693
1,10:00:00,22776979,4668967,0.204986,1418.276731,1895,3292,36973,3,6937,673
4,09:00:00,10218241,2106816,0.206182,992.844486,2101,2122,14103,3,3023,697
10,08:00:00,6170417,1193342,0.193397,695.420746,1875,1716,9566,3,2023,590
22,07:00:00,3132054,588466,0.187885,499.546689,1680,1178,5352,3,1151,511
9,06:00:00,1604347,288147,0.179604,342.624257,1661,841,2842,3,602,479
8,05:00:00,1186408,204407,0.172291,292.010000,1494,700,2374,4,443,461
21,04:00:00,644926,114254,0.177158,219.297505,1298,521,1445,4,221,517
7,03:00:00,1385611,274408,0.198041,354.990944,1258,773,3111,4,504,544
3,02:00:00,14258036,2643855,0.185429,927.017882,1360,2852,29932,4,4895,540
23,01:00:00,2523533,496679,0.196819,488.857283,1740,1016,4386,3,818,607
0,00:00:00,2570663,484378,0.188425,448.083256,1669,1081,4231,3,910,532

By Type of Good

In [42]:
pivot_table_type_all = generate_table(df_clean, column_name="Тип")
pivot_table_type_all.sort_values('Revenue', ascending = False)

,Тип,Revenue,Absolute Margin,Margin,Average Margin,Average Check,# of check,# of goods,Average # of goods in check,# of unique clients,Value of a Client
0,КГТ,138828258,40449249,0.291362,9256.121053,5542,4370,27250,1,20429,1980
3,ППКП,125612096,8015852,0.063814,1674.154553,1118,4788,428909,4,39655,202
2,ИГРУШКИ,63165338,11543957,0.182758,1600.437682,1043,7213,107362,2,34214,337
1,ОДЕЖДА,57471672,18742574,0.326118,4695.033567,846,3992,97790,3,25633,731
4,ИНОЕ,3361103,132795,0.039509,142.483906,899,932,17211,3,1995,67

In [49]:
pivot_table_type_del = generate_table(df_delivered, column_name="Тип")
pivot_table_type_del.sort_values('Revenue', ascending = False)

,Тип,Revenue,Absolute Margin,Margin,Average Margin,Average Check,# of check,# of goods,Average # of goods in check,# of unique clients,Value of a Client
0,КГТ,126874662,36945067,0.291193,8947.703318,5562,4129,24813,1,18869,1958
3,ППКП,116986928,7371915,0.063015,1603.287299,1154,4598,395410,4,36811,200
2,ИГРУШКИ,56868726,10440429,0.183588,1567.161363,1087,6662,91595,2,30959,337
1,ОДЕЖДА,43326434,14195024,0.327630,4086.074842,844,3474,74936,3,20895,679
4,ИНОЕ,3128108,115326,0.036868,128.140000,939,900,15795,3,1814,64

In [50]:
#by regions

In [51]:
pivot_table_regions_all = generate_table(df_clean, column_name="Регион")
pivot_table_regions_all.sort_values('Revenue', ascending = False)

,Регион,Revenue,Absolute Margin,Margin,Average Margin,Average Check,# of check,# of goods,Average # of goods in check,# of unique clients,Value of a Client
0,Центральный ф.о.,226335063,45373235,0.200469,4315.916960,1713,10513,453314,4,52956,857
3,Приволжский ф.о.,52664511,10740864,0.203949,2179.558442,1919,4928,78289,3,12907,832
4,Южный ф.о.,30206482,6666473,0.220697,1809.574647,2441,3684,35053,3,5927,1125
2,Северо-Западный ф.о.,28801631,5502336,0.191043,1584.317881,1770,3473,42824,3,8081,681
5,Сибирский ф.о.,23352476,4811503,0.206038,1533.791202,2347,3137,31147,3,4718,1020
1,Уральский ф.о.,22369353,5009718,0.223955,1608.772640,2429,3114,25171,3,4783,1047
6,Дальневосточный ф.о.,3289543,527761,0.160436,462.948246,1678,1140,10482,5,517,1021
7,Восточно-Сибирский ф.о.,1019463,185928,0.182378,409.533040,2114,454,1462,3,242,768
8,Крымский ф.о.,275276,37769,0.137204,156.070248,1943,242,582,4,68,555
9,Северо-Кавказский ф.о.,124669,28841,0.231341,259.828829,1252,111,198,4,42,687

In [52]:
pivot_table_regions_del = generate_table(df_delivered, column_name="Регион")
pivot_table_regions_del.sort_values('Revenue', ascending = False)

,Регион,Revenue,Absolute Margin,Margin,Average Margin,Average Check,# of check,# of goods,Average # of goods in check,# of unique clients,Value of a Client
0,Центральный ф.о.,203568634,39943407,0.196216,4085.028329,1784,9778,404936,4,48384,826
3,Приволжский ф.о.,48993180,9862932,0.201312,2099.836491,1950,4697,72039,3,12218,807
4,Южный ф.о.,26360623,5771653,0.218950,1726.489082,2588,3343,28897,3,5268,1096
2,Северо-Западный ф.о.,24905404,4627409,0.185799,1433.078043,1822,3229,37113,3,7132,649
5,Сибирский ф.о.,19627066,3896759,0.198540,1372.581543,2377,2839,26737,3,4187,931
1,Уральский ф.о.,19625436,4284477,0.218312,1469.803431,2476,2915,21881,3,4320,992
6,Дальневосточный ф.о.,2886070,482619,0.167224,495.502053,1744,974,8936,4,469,1029
7,Восточно-Сибирский ф.о.,819260,132308,0.161497,337.520408,2123,392,1231,3,200,662
8,Крымский ф.о.,274517,37354,0.136072,154.995851,1958,241,581,4,68,549
9,Северо-Кавказский ф.о.,124669,28841,0.231341,259.828829,1252,111,198,4,42,687

By Phone Number

In [32]:
pivot_table_Phone_new_all = generate_table(df_clean, column_name="Телефон_new") 
pivot_table_Phone_new_all

,Телефон_new,Revenue,Absolute Margin,Margin,Average Margin,Average Check,# of check,# of goods,Average # of goods in check,# of unique clients,Value of a Client
0,55574954-50515053535277,2926,773,0.264183,70.272727,293,11,12,4,1,773
1,55574851-50484949535070,1698,444,0.261484,222.000000,849,2,2,2,1,444
2,55575456-53575451535378,20086,6614,0.329284,314.952381,1034,21,24,12,1,6614
3,55574954-56545048505170,4038,1132,0.280337,62.888889,281,18,19,9,1,1132
4,55574853-54564857495274,7303,1207,0.165275,75.437500,682,16,18,4,1,1207
...,...,...,...,...,...,...,...,...,...,...,...
90093,55574949-57565751545277,1399,500,0.357398,500.000000,1399,1,1,1,1,500
90094,55574854-55505648555577,1616,75,0.046411,75.000000,1616,1,8,1,1,75
90095,55575053-50544856505076,3220,1480,0.459627,740.000000,805,2,4,4,1,1480
90096,55575054-55574849485475,225,86,0.382222,86.000000,225,1,1,1,1,86
90097,55575054-50575353565477,2988,113,0.037818,113.000000,2988,1,2,1,1,113

In [33]:
pivot_table_Phone_new_del = generate_table(df_delivered, column_name="Телефон_new") 
pivot_table_Phone_new_del = pivot_table_Phone_new_del.round(2) 
pivot_table_Phone_new_del

,Телефон_new,Revenue,Absolute Margin,Margin,Average Margin,Average Check,# of check,# of goods,Average # of goods in check,# of unique clients,Value of a Client
0,55574954-50515053535277,992,435,0.44,145.00,318,3,3,2,1,435
1,55574851-50484949535070,1698,444,0.26,222.00,849,2,2,2,1,444
2,55575456-53575451535378,20086,6614,0.33,314.95,1034,21,24,12,1,6614
3,55574954-56545048505170,4038,1132,0.28,62.89,281,18,19,9,1,1132
4,55574954-53555555545178,1280,501,0.39,250.50,427,2,3,3,1,501
...,...,...,...,...,...,...,...,...,...,...,...
82157,55574949-57565751545277,1399,500,0.36,500.00,1399,1,1,1,1,500
82158,55574854-55505648555577,1616,75,0.05,75.00,1616,1,8,1,1,75
82159,55575053-50544856505076,3220,1480,0.46,740.00,805,2,4,4,1,1480
82160,55575054-55574849485475,225,86,0.38,86.00,225,1,1,1,1,86
82161,55575054-50575353565477,2988,113,0.04,113.00,2988,1,2,1,1,113

In [34]:
df_delivered['Группа2'].unique()

array(['КРУПНОГАБАРИТНЫЙ ТОВАР', 'ТЕКСТИЛЬ, ТРИКОТАЖ', 'ОБУВЬ', 'ИГРУШКИ',
       'КАНЦТОВАРЫ, КНИГИ, ДИСКИ', 'ТОВАРЫ ДЛЯ КОРМЛЕНИЯ',
       'СОПУТСТВУЮЩИЕ ТОВАРЫ', 'КОСМЕТИКА/ГИГИЕНА', 'ЖЕНСКИЕ ШТУЧКИ',
       'ПОДГУЗНИКИ', 'ДЕТСКОЕ ПИТАНИЕ', 'ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА',
       'ТОВАРЫ ДЛЯ ЖИВОТНЫХ'], dtype=object)

Saving Pivot Tables

In [36]:
pivot_table_Phone_new_all.to_csv('Phone_new_all.csv', index=False, sep=';', encoding='utf-8')
pivot_table_Phone_new_del.to_csv('Phone_new_del.csv', index=False, sep=';', encoding='utf-8')

In [13]:
pivot_table_cities_del.to_csv('pivot_table_cities_del.csv', index=False, sep=';', encoding='utf-8-sig')

In [70]:
pivot_table_month_all.to_csv('pivot_table_month_all.csv', index=False, sep=';', encoding='utf-8-sig')
pivot_table_group2_all.to_csv('pivot_table_group2_all.csv', index=False, sep=';', encoding='utf-8-sig')
pivot_table_month_del.to_csv('pivot_table_month_del.csv', index=False, sep=';', encoding='utf-8-sig')
pivot_table_group2_del.to_csv('pivot_table_group2_del.csv', index=False, sep=';', encoding='utf-8-sig')
pivot_table_cities_all.to_csv('pivot_table_cities_all.csv', index=False, sep=';', encoding='utf-8-sig')
pivot_table_weekday_all.to_csv('pivot_table_weekday_all.csv', index=False, sep=';', encoding='utf-8-sig')
pivot_table_time_all.to_csv('pivot_table_time_all.csv', index=False, sep=';', encoding='utf-8-sig')
pivot_table_weekday_del.to_csv('pivot_table_weekday_del.csv', index=False, sep=';', encoding='utf-8-sig')
pivot_table_time_del.to_csv('pivot_table_time_del.csv', index=False, sep=';', encoding='utf-8-sig')

In [38]:
pivot_table_regions_del.to_csv('pivot_table_regions_del.csv', index=False, sep=';', encoding='utf-8')
pivot_table_regions_all.to_csv('pivot_table_regions_all.csv', index=False, sep=';', encoding='utf-8')

In [39]:
pivot_table_type_del.to_csv('pivot_table_type_del.csv', index=False, sep=';', encoding='utf-8')
pivot_table_type_all.to_csv('pivot_table_type_all.csv', index=False, sep=';', encoding='utf-8')

Function for counting percentage of bought goods compared to ordered.

In [53]:
def pivot_per(pivot_table_month_del, pivot_table_month_all, a = pivot_table_month_del.columns[0]):
    pivot_n_per = pivot_table_month_del[[a, 'Revenue', 'Absolute Margin', '# of check', '# of goods', '# of unique clients']]
    pivot_n_per['Revenue'] = pivot_n_per['Revenue']/pivot_table_month_all['Revenue']*100 
    pivot_n_per['Absolute Margin'] = pivot_n_per['Absolute Margin']/pivot_table_month_all['Absolute Margin']*100 
    pivot_n_per['Num of check'] = pivot_n_per['# of check']/pivot_table_month_all['# of check']*100 
    pivot_n_per['Num of goods'] = pivot_n_per['# of goods']/pivot_table_month_all['# of goods']*100 
    pivot_n_per['Num of unique clients'] = pivot_n_per['# of unique clients']/pivot_table_month_all['# of unique clients']*100
    
    pivot_n_per.rename(columns={'Revenue':'%Revenue', 'Absolute Margin':'%Absolute Margin', '# of check':'%Num of check', 
                       '# of goods':'%Num of goods', '# of unique clients':'%Num of unique clients'}, inplace = True )

    return pivot_n_per

In [83]:
pivot_month_per = pivot_per(pivot_table_month_del, pivot_table_month_all, a = pivot_table_month_del.columns[0])
pivot_group2_per = pivot_per(pivot_table_group2_del, pivot_table_group2_all, a = pivot_table_group2_del.columns[0])
pivot_weekday_per = pivot_per(pivot_table_weekday_del, pivot_table_weekday_all, a = pivot_table_weekday_del.columns[0])
pivot_type_per = pivot_per(pivot_table_type_del, pivot_table_type_all, a = pivot_table_type_del.columns[0])
pivot_regions_per = pivot_per(pivot_table_regions_del, pivot_table_regions_all, a = pivot_table_regions_del.columns[0]) #тут деление на ноль

In [92]:
pivot_regions_per

,Регион,%Revenue,%Absolute Margin,%Num of check,%Num of goods,%Num of unique clients,Num of check,Num of goods,Num of unique clients
0,Центральный ф.о.,89.941272,88.032971,9778,404936,48384,93.008656,89.327927,91.366417
1,Уральский ф.о.,87.733588,85.523317,2915,21881,4320,93.609505,86.929403,90.319883
2,Северо-Западный ф.о.,86.4722,84.09899,3229,37113,7132,92.974374,86.66402,88.256404
3,Приволжский ф.о.,93.028833,91.826244,4697,72039,12218,95.3125,92.016758,94.661811
4,Южный ф.о.,87.2681,86.57731,3343,28897,5268,90.743757,82.438022,88.88139
5,Сибирский ф.о.,84.047045,80.988394,2839,26737,4187,90.500478,85.841333,88.745231
6,Дальневосточный ф.о.,87.734679,91.446507,974,8936,469,85.438596,85.250906,90.715667
7,Восточно-Сибирский ф.о.,80.361916,71.160879,392,1231,200,86.343612,84.199726,82.644628
8,Крымский ф.о.,99.724277,98.901215,241,581,68,99.586777,99.828179,100.0
9,Северо-Кавказский ф.о.,100.0,100.0,111,198,42,100.0,100.0,100.0

In [85]:
pivot_month_per

,МесяцДаты,%Revenue,%Absolute Margin,%Num of check,%Num of goods,%Num of unique clients,Num of check,Num of goods,Num of unique clients
0,5,89.222672,87.00435,8471,321522,48610,92.347106,88.461941,90.349801
1,6,89.562751,88.264845,8577,281027,42556,93.116925,89.196798,90.722265

In [88]:
pivot_type_per.round(2)

,Тип,%Revenue,%Absolute Margin,%Num of check,%Num of goods,%Num of unique clients,Num of check,Num of goods,Num of unique clients
0,КГТ,91.389652,91.336843,4129,24813,18869,94.485126,91.056881,92.363797
1,ОДЕЖДА,75.38746,75.73679,3474,74936,20895,87.024048,76.629512,81.516015
2,ИГРУШКИ,90.031539,90.440644,6662,91595,30959,92.361015,85.314171,90.486351
3,ППКП,93.133489,91.966705,4598,395410,36811,96.031746,92.189719,92.828143
4,ИНОЕ,93.067901,86.845137,900,15795,1814,96.566524,91.772704,90.927318

In [87]:
pivot_group2_per.round(2)

,Группа2,%Revenue,%Absolute Margin,%Num of check,%Num of goods,%Num of unique clients,Num of check,Num of goods,Num of unique clients
0,ТОВАРЫ ДЛЯ КОРМЛЕНИЯ,91.104938,91.177318,2432,25473,10997,94.446602,88.712823,90.428419
1,ТОВАРЫ ДЛЯ ЖИВОТНЫХ,93.672631,96.179223,842,14877,1497,96.670494,92.27191,92.693498
2,ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА,83.121533,86.746874,96,145,75,91.428571,91.772152,89.285714
3,"ТЕКСТИЛЬ, ТРИКОТАЖ",76.880513,77.770956,2962,65372,17060,88.10232,77.397204,82.280313
4,СОПУТСТВУЮЩИЕ ТОВАРЫ,87.054422,86.878728,225,892,469,86.538462,76.830319,79.222973
5,ПОДГУЗНИКИ,93.42172,92.712361,2117,61078,22042,97.199265,92.857577,93.763825
6,ОБУВЬ,70.053299,69.245694,1257,9564,5741,82.697368,71.764088,75.134145
7,КРУПНОГАБАРИТНЫЙ ТОВАР,91.389652,91.336843,4129,24813,18869,94.485126,91.056881,92.363797
8,КОСМЕТИКА/ГИГИЕНА,89.766783,89.738201,1367,49784,11300,96.744515,89.038327,90.183559
9,"КАНЦТОВАРЫ, КНИГИ, ДИСКИ",85.593122,85.525691,1970,16198,4147,90.449954,82.277645,85.805918
10,ИГРУШКИ,90.33061,91.010428,5806,75397,29309,92.866283,85.996008,90.577292
11,ЖЕНСКИЕ ШТУЧКИ,80.09384,78.036163,159,773,285,92.982456,83.11828,81.428571
12,ДЕТСКОЕ ПИТАНИЕ,94.376396,94.064306,2495,258183,13181,97.537138,93.090916,93.145361

In [89]:
pivot_weekday_per.round(2)

,ДеньНеделиДаты,%Revenue,%Absolute Margin,%Num of check,%Num of goods,%Num of unique clients,Num of check,Num of goods,Num of unique clients
0,1,90.424712,88.508453,4782,82163,13788,94.263749,90.825982,90.401259
1,2,89.380766,87.933044,5044,106251,17238,93.615442,88.216833,89.529448
2,3,88.97148,86.957191,5304,112386,18145,93.528478,87.796075,89.055215
3,4,88.638074,86.354529,5180,98742,16746,93.925657,88.572146,89.003455
4,5,89.26983,87.180984,4860,81791,13975,93.731919,89.156193,88.910803
5,6,89.032004,87.740956,4052,55102,10128,92.78681,88.103994,88.740909
6,7,90.229462,88.602391,4244,66114,11096,93.45959,89.529562,89.955411

In [90]:
weekday = {'Weekday': [1, 2, 3, 4, 5, 6, 7]}

weekday_mapping = {
    1: 'Monday',
    2: 'Tuesday',
    3: 'Wednesday',
    4: 'Thursday',
    5: 'Friday',
    6: 'Saturday',
    7: 'Sunday'
}

pivot_weekday_per['ДеньНеделиДаты'] = pivot_weekday_per['ДеньНеделиДаты'].map(weekday_mapping)

In [91]:
pivot_weekday_per

,ДеньНеделиДаты,%Revenue,%Absolute Margin,%Num of check,%Num of goods,%Num of unique clients,Num of check,Num of goods,Num of unique clients
0,Monday,90.424712,88.508453,4782,82163,13788,94.263749,90.825982,90.401259
1,Tuesday,89.380766,87.933044,5044,106251,17238,93.615442,88.216833,89.529448
2,Wednesday,88.97148,86.957191,5304,112386,18145,93.528478,87.796075,89.055215
3,Thursday,88.638074,86.354529,5180,98742,16746,93.925657,88.572146,89.003455
4,Friday,89.26983,87.180984,4860,81791,13975,93.731919,89.156193,88.910803
5,Saturday,89.032004,87.740956,4052,55102,10128,92.78681,88.103994,88.740909
6,Sunday,90.229462,88.602391,4244,66114,11096,93.45959,89.529562,89.955411

In [95]:
pivot_month_per.to_csv('/Users/sofarozok/Desktop/pivot_month_per.csv', index=False, sep=';', encoding='utf-8-sig')
pivot_group2_per.to_csv('/Users/sofarozok/Desktop/pivot_group2_per.csv', index=False, sep=';', encoding='utf-8-sig')
pivot_weekday_per.to_csv('/Users/sofarozok/Desktop/pivot_weekday_per.csv', index=False, sep=';', encoding='utf-8-sig')
pivot_type_per.to_csv('/Users/sofarozok/Desktop/pivot_type_per.csv', index=False, sep=';', encoding='utf-8-sig')
pivot_regions_per.to_csv('/Users/sofarozok/Desktop/pivot_regions_per.csv', index=False, sep=';', encoding='utf-8-sig')

In [ ]:
pd.__version__