## Data reading and checking

In [ ]:
import pandas as pd
import numpy as np
from urllib.request import urlopen
import matplotlib.pyplot as plt
import seaborn as sns

# Allow multiple output
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
!git clone https://github.com/adamxrvn/coursework.git

Cloning into 'coursework'...
remote: Enumerating objects: 87, done.
remote: Counting objects: 100% (1/1), done.
remote: Total 87 (delta 0), reused 0 (delta 0), pack-reused 86
Unpacking objects: 100% (87/87), 464.91 MiB | 13.70 MiB/s, done.

In [ ]:
!unzip -o coursework/data/dataset_clean.zip
!unzip -o coursework/data/dataset_phones.zip
!unzip -o coursework/data/dataset_delivered.zip

Archive:  coursework/data/dataset_clean.zip
  inflating: content/dataset_clean.csv
Archive:  coursework/data/dataset_phones.zip
  inflating: content/dataset_phones.csv
Archive:  coursework/data/dataset_delivered.zip
  inflating: content/dataset_delivered.csv

In [ ]:
# import datasets 
df_delivered = pd.read_csv('content/dataset_delivered.csv',encoding='utf-8')
df_delivered.drop(['index', 'level_0'],axis=1,inplace=True)
df_phones = pd.read_csv('content/dataset_phones.csv',encoding='utf-8')

In [ ]:
df_delivered.head()

,Дата,НомерЗаказаНаСайте,НовыйСтатус,Регион,Группа2,Группа3,Группа4,Тип,Номенклатура,ТипТовара,...,Телефон_new,ГородМагазина,МагазинЗаказа,ГодДаты,МесяцДаты,ДеньНеделиДаты,ДеньДаты,ВремяОкруглДаты,СуммаСтроки_v,Маржа_v
0,2017-05-01 00:03:00,4513479_TR,Доставлен,Центральный ф.о.,КРУПНОГАБАРИТНЫЙ ТОВАР,ИЗДЕЛИЯ ИЗ ПЛАСТМАССЫ,горшки,КГТ,"ТЕГА, ГОРШОК Веселая Черепаха, Польша",КГТ,...,55574954-50515053535277,0,NaN,2017,5,1,1,00:00:00,152.0,76.00
1,2017-05-01 10:18:00,4513492_TR,К отгрузке,Центральный ф.о.,"ТЕКСТИЛЬ, ТРИКОТАЖ",ДЕТСКАЯ ОДЕЖДА (7-16 лет),жилеты,ОДЕЖДА,"LEADER KIDS, ЖИЛЕТ Тигр, (син), р.140",МГТ,...,55574851-50484949535070,0,NaN,2017,5,1,1,10:00:00,499.0,199.00
2,2017-05-01 15:27:00,4513472_TR,К отгрузке,Центральный ф.о.,"ТЕКСТИЛЬ, ТРИКОТАЖ",ОДЕЖДА ДЛЯ НОВОРОЖДЕННЫХ (0-2 лет),комбинезоны,ОДЕЖДА,"MAKOMA, КОМБИНЕЗОН с капюш. My bear, р. 80, По...",МГТ,...,55575456-53575451535378,0,NaN,2017,5,1,1,15:00:00,678.2,316.77
3,2017-05-01 15:27:00,4513472_TR,К отгрузке,Центральный ф.о.,"ТЕКСТИЛЬ, ТРИКОТАЖ",ДЕТСКИЕ КОЛГОТКИ И НОСКИ,носки,ОДЕЖДА,"ЗАЙКА МОЯ, НОСКИ дет., р. L",МГТ,...,55575456-53575451535378,0,NaN,2017,5,1,1,15:00:00,89.0,51.00
4,2017-05-01 15:27:00,4513472_TR,К отгрузке,Центральный ф.о.,"ТЕКСТИЛЬ, ТРИКОТАЖ",ОДЕЖДА ДЛЯ НОВОРОЖДЕННЫХ (0-2 лет),песочники,ОДЕЖДА,"SOFIJA, ПЕСОЧНИК Bazyl, (сер), р. 80, Польша",МГТ,...,55575456-53575451535378,0,NaN,2017,5,1,1,15:00:00,1080.0,505.20

In [ ]:
df_delivered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 441726 entries, 0 to 441725
Data columns (total 30 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Дата                441726 non-null  object
 1   НомерЗаказаНаСайте  441726 non-null  object
 2   НовыйСтатус         441726 non-null  object
 3   Регион              441726 non-null  object
 4   Группа2             375224 non-null  object
 5   Группа3             375224 non-null  object
 6   Группа4             356281 non-null  object
 7   Тип                 441726 non-null  object
 8   Номенклатура        441726 non-null  object
 9   ТипТовара           375224 non-null  object
 10  Отменено            441726 non-null  object
 11  Количество          441726 non-null  int64
 12  Цена                441726 non-null  float64
 13  ЦенаЗакупки         373929 non-null  float64
 14  МесяцДатыЗаказа     441726 non-null  int64
 15  ГодДатыЗаказа       441726 non-null  object
 16  Статус              441726 non-null  object
 17  Гео                 441726 non-null  object
 18  НомерСтроки         441726 non-null  int64
 19  ДатаЗаказаНаСайте   441726 non-null  object
 20  Телефон_new         441726 non-null  object
 21  ГородМагазина       441726 non-null  object
 22  МагазинЗаказа       3039 non-null    object
 23  ГодДаты             441726 non-null  int64
 24  МесяцДаты           441726 non-null  int64
 25  ДеньНеделиДаты      441726 non-null  int64
 26  ДеньДаты            441726 non-null  int64
 27  ВремяОкруглДаты     441726 non-null  object
 28  СуммаСтроки_v       441726 non-null  float64
 29  Маржа_v             373929 non-null  float64
dtypes: float64(4), int64(7), object(19)
memory usage: 101.1+ MB

In [ ]:
df_delivered['Группа2'].unique()

array(['КРУПНОГАБАРИТНЫЙ ТОВАР', 'ТЕКСТИЛЬ, ТРИКОТАЖ', 'ОБУВЬ', 'ИГРУШКИ',
       'КАНЦТОВАРЫ, КНИГИ, ДИСКИ', 'ТОВАРЫ ДЛЯ КОРМЛЕНИЯ',
       'СОПУТСТВУЮЩИЕ ТОВАРЫ', 'КОСМЕТИКА/ГИГИЕНА', 'ЖЕНСКИЕ ШТУЧКИ',
       'ПОДГУЗНИКИ', 'ДЕТСКОЕ ПИТАНИЕ', 'ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА', nan,
       'ТОВАРЫ ДЛЯ ЖИВОТНЫХ'], dtype=object)

In [ ]:
phones_bought = pd.read_csv('Phone_new_del.csv', sep=';')

In [ ]:
phones_bought

,Телефон_new,Revenue,Absolute Margin,Margin,Average Margin,Average Check,# of check,# of goods,Average # of goods in check,# of unique clients,Value of a Client
0,55574954-50515053535277,992,435,0.438508,145.000000,318,3,3,2,1,435
1,55574851-50484949535070,1698,444,0.261484,222.000000,849,2,2,2,1,444
2,55575456-53575451535378,20086,6614,0.329284,314.952381,1034,21,24,12,1,6614
3,55574954-56545048505170,4038,1132,0.280337,62.888889,281,18,19,9,1,1132
4,55574954-53555555545178,1280,501,0.391406,250.500000,427,2,3,3,1,501
...,...,...,...,...,...,...,...,...,...,...,...
82157,55574949-57565751545277,1399,500,0.357398,500.000000,1399,1,1,1,1,500
82158,55574854-55505648555577,1616,75,0.046411,75.000000,1616,1,8,1,1,75
82159,55575053-50544856505076,3220,1480,0.459627,740.000000,805,2,4,4,1,1480
82160,55575054-55574849485475,225,86,0.382222,86.000000,225,1,1,1,1,86
82161,55575054-50575353565477,2988,113,0.037818,113.000000,2988,1,2,1,1,113

In [ ]:
phones_bought.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82162 entries, 0 to 82161
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Телефон_new                  82162 non-null  object
 1   Revenue                      82162 non-null  int64
 2   Absolute Margin              82162 non-null  int64
 3   Margin                       82162 non-null  float64
 4   Average Margin               82162 non-null  float64
 5   Average Check                82162 non-null  int64
 6   # of check                   82162 non-null  int64
 7   # of goods                   82162 non-null  int64
 8   Average # of goods in check  82162 non-null  int64
 9   # of unique clients          82162 non-null  int64
 10  Value of a Client            82162 non-null  int64
dtypes: float64(2), int64(8), object(1)
memory usage: 6.9+ MB

In [ ]:
phones_bought = phones_bought[(phones_bought['Телефон_new'] != '0')]

In [ ]:
showcase = phones_bought

In [ ]:
showcase.head()

,Телефон_new,Revenue,Absolute Margin,Margin,Average Margin,Average Check,# of check,# of goods,Average # of goods in check,# of unique clients,Value of a Client
0,55574954-50515053535277,992,435,0.438508,145.000000,318,3,3,2,1,435
1,55574851-50484949535070,1698,444,0.261484,222.000000,849,2,2,2,1,444
2,55575456-53575451535378,20086,6614,0.329284,314.952381,1034,21,24,12,1,6614
3,55574954-56545048505170,4038,1132,0.280337,62.888889,281,18,19,9,1,1132
4,55574954-53555555545178,1280,501,0.391406,250.500000,427,2,3,3,1,501

In [ ]:
showcase.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82161 entries, 0 to 82161
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Телефон_new                  82161 non-null  object
 1   Revenue                      82161 non-null  int64
 2   Absolute Margin              82161 non-null  int64
 3   Margin                       82161 non-null  float64
 4   Average Margin               82161 non-null  float64
 5   Average Check                82161 non-null  int64
 6   # of check                   82161 non-null  int64
 7   # of goods                   82161 non-null  int64
 8   Average # of goods in check  82161 non-null  int64
 9   # of unique clients          82161 non-null  int64
 10  Value of a Client            82161 non-null  int64
dtypes: float64(2), int64(8), object(1)
memory usage: 7.5+ MB

## Showcase

In [ ]:
# make showcase columns
showcase.columns = ['Телефон_new', 'Выручка_bought', 'Абсолютная маржа_bought', 'Маржа_bought',
       'Средняя маржа_bought', 'Средний чек_bought', 'Кол-во чеков_bought',
       'Кол-во товаров_bought', 'Среднее кол-во товаров в  чеке_bought',
       'Кол-во уникальных клиентов_bought', 'Ценность клиента_bought']

In [ ]:
# Showcase with the main indicators with redeemed and placed goods
showcase.to_csv('showcase_general_info.csv', index=False, sep=';') 

def pr(x, tag): 
    return (np.array(x).reshape((-1)) == tag).sum()

In [ ]:
df_delivered = df_delivered[df_delivered['Группа2'].notna()]

In [ ]:
len(df_delivered['Группа2'].unique())

13

### Group 2

In [ ]:
#add group2 columns
items_Group2 = df_delivered.groupby(['Телефон_new']).agg({
    'Группа2': [
        ('КРУПНОГАБАРИТНЫЙ ТОВАР', lambda x: pr(x, 'КРУПНОГАБАРИТНЫЙ ТОВАР')),
        ('ТЕКСТИЛЬ, ТРИКОТАЖ', lambda x: pr(x, 'ТЕКСТИЛЬ, ТРИКОТАЖ')),
        ('ОБУВЬ', lambda x: pr(x, 'ОБУВЬ')),
        ('КАНЦТОВАРЫ, КНИГИ, ДИСКИ', lambda x: pr(x, 'КАНЦТОВАРЫ, КНИГИ, ДИСКИ')),
        ('ТОВАРЫ ДЛЯ КОРМЛЕНИЯ', lambda x: pr(x, 'ТОВАРЫ ДЛЯ КОРМЛЕНИЯ')),
        ('ИГРУШКИ', lambda x: pr(x, 'ИГРУШКИ')),
        ('КОСМЕТИКА/ГИГИЕНА', lambda x: pr(x, 'КОСМЕТИКА/ГИГИЕНА')),
        ('СОПУТСТВУЮЩИЕ ТОВАРЫ', lambda x: pr(x, 'СОПУТСТВУЮЩИЕ ТОВАРЫ')),
        ('ЖЕНСКИЕ ШТУЧКИ', lambda x: pr(x, 'ЖЕНСКИЕ ШТУЧКИ')),
        ('ПОДГУЗНИКИ', lambda x: pr(x, 'ПОДГУЗНИКИ')),
        ('ДЕТСКОЕ ПИТАНИЕ', lambda x: pr(x, 'ДЕТСКОЕ ПИТАНИЕ')),
        ('ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА', lambda x: pr(x, 'ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА')),
        ('ТОВАРЫ ДЛЯ ЖИВОТНЫХ', lambda x: pr(x, 'ТОВАРЫ ДЛЯ ЖИВОТНЫХ'))
    ]
})


items_Group2.columns = items_Group2.columns.get_level_values(1) 
items_Group2 = items_Group2.groupby(level = 0).agg('sum');

In [ ]:
items_Group2.shape

(82346, 13)

In [ ]:
items_Group2.to_csv('items_Group2.csv', index=False, sep=';')

### Region

In [ ]:
#add region columns
name_region = df_delivered.groupby(['Телефон_new']).agg({
    'Регион': [
        ('Центральный ф.о.', lambda x: pr(x, 'Центральный ф.о.')),
        ('Приволжский ф.о.', lambda x: pr(x, 'Приволжский ф.о.')),
        ('Северо-Западный ф.о.', lambda x: pr(x, 'Северо-Западный ф.о.')),
        ('Южный ф.о.', lambda x: pr(x, 'Южный ф.о.')),
        ('Сибирский ф.о.', lambda x: pr(x, 'Сибирский ф.о.')),
        ('Уральский ф.о.', lambda x: pr(x, 'Уральский ф.о.')),
        ('Дальневосточный ф.о.', lambda x: pr(x, 'Дальневосточный ф.о.')),
        ('Восточно-Сибирский ф.о.', lambda x: pr(x, 'Восточно-Сибирский ф.о.')),
        ('Крымский ф.о.', lambda x: pr(x, 'Крымский ф.о.')),
        ('Северо-Кавказский ф.о.', lambda x: pr(x, 'Северо-Кавказский ф.о.'))
      
    ]
})


name_region.columns = name_region.columns.get_level_values(1) 
name_region = name_region.groupby(level = 0).agg('sum');

In [ ]:
name_region.shape

(82346, 10)

In [ ]:
name_region.to_csv('name_region.csv', index=False, sep=';')

### Type

In [ ]:
df_delivered['Тип'].unique()

array(['КГТ', 'ОДЕЖДА', 'ИГРУШКИ', 'ППКП', 'ИНОЕ'], dtype=object)

In [ ]:
#add type columns
items_type = df_delivered.groupby(['Телефон_new']).agg({
    'Тип': [
        ('КГТ', lambda x: pr(x, 'КГТ')),
        ('ОДЕЖДА', lambda x: pr(x, 'ОДЕЖДА')),
        ('ИГРУШКИт', lambda x: pr(x, 'ИГРУШКИ')),
        ('ППКП', lambda x: pr(x, 'ППКП')),
        ('ИНОЕ', lambda x: pr(x, 'ИНОЕ'))

      
    ]
})


items_type.columns = items_type.columns.get_level_values(1) 
items_type = items_type.groupby(level = 0).agg('sum');

In [ ]:
items_type.shape

(82346, 5)

In [ ]:
items_type.to_csv('items_type.csv', index=False, sep=';')

### Deleting unuseful features

In [ ]:
df_delivered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 375224 entries, 0 to 441725
Data columns (total 30 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Дата                375224 non-null  object
 1   НомерЗаказаНаСайте  375224 non-null  object
 2   НовыйСтатус         375224 non-null  object
 3   Регион              375224 non-null  object
 4   Группа2             375224 non-null  object
 5   Группа3             375224 non-null  object
 6   Группа4             356281 non-null  object
 7   Тип                 375224 non-null  object
 8   Номенклатура        375224 non-null  object
 9   ТипТовара           375224 non-null  object
 10  Отменено            375224 non-null  object
 11  Количество          375224 non-null  int64
 12  Цена                375224 non-null  float64
 13  ЦенаЗакупки         373929 non-null  float64
 14  МесяцДатыЗаказа     375224 non-null  int64
 15  ГодДатыЗаказа       375224 non-null  object
 16  Статус              375224 non-null  object
 17  Гео                 375224 non-null  object
 18  НомерСтроки         375224 non-null  int64
 19  ДатаЗаказаНаСайте   375224 non-null  object
 20  Телефон_new         375224 non-null  object
 21  ГородМагазина       375224 non-null  object
 22  МагазинЗаказа       3024 non-null    object
 23  ГодДаты             375224 non-null  int64
 24  МесяцДаты           375224 non-null  int64
 25  ДеньНеделиДаты      375224 non-null  int64
 26  ДеньДаты            375224 non-null  int64
 27  ВремяОкруглДаты     375224 non-null  object
 28  СуммаСтроки_v       375224 non-null  float64
 29  Маржа_v             373929 non-null  float64
dtypes: float64(4), int64(7), object(19)
memory usage: 88.7+ MB

In [ ]:
df_delivered.drop(['ГородМагазина'], axis=1, inplace=True)

In [ ]:
df_delivered['Регион'].unique()

array(['Центральный ф.о.', 'Уральский ф.о.', 'Северо-Западный ф.о.',
       'Приволжский ф.о.', 'Южный ф.о.', 'Сибирский ф.о.',
       'Дальневосточный ф.о.', 'Восточно-Сибирский ф.о.', 'Крымский ф.о.',
       'Северо-Кавказский ф.о.'], dtype=object)

In [ ]:
df_delivered.drop(['МагазинЗаказа'], axis=1, inplace=True)

In [ ]:
df_delivered.head()

,Дата,НомерЗаказаНаСайте,НовыйСтатус,Регион,Группа2,Группа3,Группа4,Тип,Номенклатура,ТипТовара,...,НомерСтроки,ДатаЗаказаНаСайте,Телефон_new,ГодДаты,МесяцДаты,ДеньНеделиДаты,ДеньДаты,ВремяОкруглДаты,СуммаСтроки_v,Маржа_v
0,2017-05-01 00:03:00,4513479_TR,Доставлен,Центральный ф.о.,КРУПНОГАБАРИТНЫЙ ТОВАР,ИЗДЕЛИЯ ИЗ ПЛАСТМАССЫ,горшки,КГТ,"ТЕГА, ГОРШОК Веселая Черепаха, Польша",КГТ,...,2,2017-04-30,55574954-50515053535277,2017,5,1,1,00:00:00,152.0,76.00
1,2017-05-01 10:18:00,4513492_TR,К отгрузке,Центральный ф.о.,"ТЕКСТИЛЬ, ТРИКОТАЖ",ДЕТСКАЯ ОДЕЖДА (7-16 лет),жилеты,ОДЕЖДА,"LEADER KIDS, ЖИЛЕТ Тигр, (син), р.140",МГТ,...,1,2017-04-30,55574851-50484949535070,2017,5,1,1,10:00:00,499.0,199.00
2,2017-05-01 15:27:00,4513472_TR,К отгрузке,Центральный ф.о.,"ТЕКСТИЛЬ, ТРИКОТАЖ",ОДЕЖДА ДЛЯ НОВОРОЖДЕННЫХ (0-2 лет),комбинезоны,ОДЕЖДА,"MAKOMA, КОМБИНЕЗОН с капюш. My bear, р. 80, По...",МГТ,...,6,2017-04-30,55575456-53575451535378,2017,5,1,1,15:00:00,678.2,316.77
3,2017-05-01 15:27:00,4513472_TR,К отгрузке,Центральный ф.о.,"ТЕКСТИЛЬ, ТРИКОТАЖ",ДЕТСКИЕ КОЛГОТКИ И НОСКИ,носки,ОДЕЖДА,"ЗАЙКА МОЯ, НОСКИ дет., р. L",МГТ,...,8,2017-04-30,55575456-53575451535378,2017,5,1,1,15:00:00,89.0,51.00
4,2017-05-01 15:27:00,4513472_TR,К отгрузке,Центральный ф.о.,"ТЕКСТИЛЬ, ТРИКОТАЖ",ОДЕЖДА ДЛЯ НОВОРОЖДЕННЫХ (0-2 лет),песочники,ОДЕЖДА,"SOFIJA, ПЕСОЧНИК Bazyl, (сер), р. 80, Польша",МГТ,...,12,2017-04-30,55575456-53575451535378,2017,5,1,1,15:00:00,1080.0,505.20

### Showcase by group 2

In [ ]:
showcase_Group2  = (showcase.merge(
    items_Group2, on = ['Телефон_new'], how='inner'))

In [ ]:
showcase_Group2.to_csv('showcase_Group2.csv', index=False, sep=';')

### Showcase by Region

In [ ]:
showcase_Region  = (showcase.merge(
    name_region, on = ['Телефон_new'], how='inner'))

In [ ]:
showcase_Region.to_csv('showcase_Region.csv', index=False, sep=';')

### Showcase by Type

In [ ]:
showcase_Type  = (showcase.merge(
    items_type, on = ['Телефон_new'], how='inner'))

In [ ]:
showcase_Type.to_csv('showcase_Type.csv', index=False, sep=';')

## Final showcase

In [ ]:
showcase_Group2 = pd.read_csv('showcase_Group2.csv', sep=';')
showcase_Region = pd.read_csv('showcase_Region.csv', sep=';')
showcase_Type = pd.read_csv('showcase_Type.csv', sep=';')

# Create copies of the original dataframes
showcase1 = showcase_Group2.copy()
showcase2 = showcase_Region.copy()
showcase3 = showcase_Type.copy()

showcase1['sum_Group2'] = showcase1.loc[:, 'КРУПНОГАБАРИТНЫЙ ТОВАР':'ТОВАРЫ ДЛЯ ЖИВОТНЫХ'].sum(axis=1)
showcase2['sum_Region'] = showcase2.loc[:, 'Центральный ф.о.':'Северо-Кавказский ф.о.'].sum(axis=1)
showcase3['sum_Type'] = showcase3.loc[:, 'КГТ':'ИНОЕ'].sum(axis=1)


# Calculate proportions for Group2 columns
col_Group2 = ['КРУПНОГАБАРИТНЫЙ ТОВАР', 'ТЕКСТИЛЬ, ТРИКОТАЖ', 'ОБУВЬ',
       'КАНЦТОВАРЫ, КНИГИ, ДИСКИ', 'ТОВАРЫ ДЛЯ КОРМЛЕНИЯ', 'ИГРУШКИ',
       'КОСМЕТИКА/ГИГИЕНА', 'СОПУТСТВУЮЩИЕ ТОВАРЫ', 'ЖЕНСКИЕ ШТУЧКИ',
       'ПОДГУЗНИКИ', 'ДЕТСКОЕ ПИТАНИЕ', 'ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА',
       'ТОВАРЫ ДЛЯ ЖИВОТНЫХ']

for col in col_Group2:
    showcase1[col] = (showcase1[col] / showcase1['sum_Group2']).round(2)

# Calculate proportions for Region columns
col_Region = ['Центральный ф.о.', 'Уральский ф.о.', 'Северо-Западный ф.о.', 'Приволжский ф.о.', 'Южный ф.о.', 'Сибирский ф.о.', 'Дальневосточный ф.о.', 'Восточно-Сибирский ф.о.', 'Крымский ф.о.', 'Северо-Кавказский ф.о.']

for col in col_Region:
    showcase2[col] = (showcase2[col] / showcase2['sum_Region']).round(2)

# Calculate proportions for Type columns
col_Type = ['КГТ', 'ОДЕЖДА', 'ИГРУШКИт', 'ППКП', 'ИНОЕ']

for col in col_Type:
    showcase3[col] = (showcase3[col] / showcase3['sum_Type']).round(2)

del showcase1['sum_Group2']
del showcase2['sum_Region']
del showcase3['sum_Type']

# Combine the three dataframes into one
showcase_final = pd.concat([showcase1, showcase2, showcase3], axis=1)

showcase_final.columns

Index(['Телефон_new', 'Выручка_bought', 'Абсолютная маржа_bought',
       'Маржа_bought', 'Средняя маржа_bought', 'Средний чек_bought',
       'Кол-во чеков_bought', 'Кол-во товаров_bought',
       'Среднее кол-во товаров в  чеке_bought',
       'Кол-во уникальных клиентов_bought', 'Ценность клиента_bought',
       'КРУПНОГАБАРИТНЫЙ ТОВАР', 'ТЕКСТИЛЬ, ТРИКОТАЖ', 'ОБУВЬ',
       'КАНЦТОВАРЫ, КНИГИ, ДИСКИ', 'ТОВАРЫ ДЛЯ КОРМЛЕНИЯ', 'ИГРУШКИ',
       'КОСМЕТИКА/ГИГИЕНА', 'СОПУТСТВУЮЩИЕ ТОВАРЫ', 'ЖЕНСКИЕ ШТУЧКИ',
       'ПОДГУЗНИКИ', 'ДЕТСКОЕ ПИТАНИЕ', 'ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА',
       'ТОВАРЫ ДЛЯ ЖИВОТНЫХ', 'Телефон_new', 'Выручка_bought',
       'Абсолютная маржа_bought', 'Маржа_bought', 'Средняя маржа_bought',
       'Средний чек_bought', 'Кол-во чеков_bought', 'Кол-во товаров_bought',
       'Среднее кол-во товаров в  чеке_bought',
       'Кол-во уникальных клиентов_bought', 'Ценность клиента_bought',
       'Центральный ф.о.', 'Приволжский ф.о.', 'Северо-Западный ф.о.',
       'Южный ф.о.', 'Сибирский ф.о.', 'Уральский ф.о.',
       'Дальневосточный ф.о.', 'Восточно-Сибирский ф.о.', 'Крымский ф.о.',
       'Северо-Кавказский ф.о.', 'Телефон_new', 'Выручка_bought',
       'Абсолютная маржа_bought', 'Маржа_bought', 'Средняя маржа_bought',
       'Средний чек_bought', 'Кол-во чеков_bought', 'Кол-во товаров_bought',
       'Среднее кол-во товаров в  чеке_bought',
       'Кол-во уникальных клиентов_bought', 'Ценность клиента_bought', 'КГТ',
       'ОДЕЖДА', 'ИГРУШКИт', 'ППКП', 'ИНОЕ'],
      dtype='object')

In [ ]:
#showcase_final = showcase_final.T.drop_duplicates().T
showcase_final = showcase_final.loc[:,~showcase_final.columns.duplicated()]

In [ ]:
showcase_final.to_csv('showcase_final.csv', index=False, sep=';')

In [ ]:
showcase_final.columns

Index(['Телефон_new', 'Выручка_bought', 'Абсолютная маржа_bought',
       'Маржа_bought', 'Средняя маржа_bought', 'Средний чек_bought',
       'Кол-во чеков_bought', 'Кол-во товаров_bought',
       'Среднее кол-во товаров в  чеке_bought',
       'Кол-во уникальных клиентов_bought', 'Ценность клиента_bought',
       'КРУПНОГАБАРИТНЫЙ ТОВАР', 'ТЕКСТИЛЬ, ТРИКОТАЖ', 'ОБУВЬ',
       'КАНЦТОВАРЫ, КНИГИ, ДИСКИ', 'ТОВАРЫ ДЛЯ КОРМЛЕНИЯ', 'ИГРУШКИ',
       'КОСМЕТИКА/ГИГИЕНА', 'СОПУТСТВУЮЩИЕ ТОВАРЫ', 'ЖЕНСКИЕ ШТУЧКИ',
       'ПОДГУЗНИКИ', 'ДЕТСКОЕ ПИТАНИЕ', 'ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА',
       'ТОВАРЫ ДЛЯ ЖИВОТНЫХ', 'Центральный ф.о.', 'Приволжский ф.о.',
       'Северо-Западный ф.о.', 'Южный ф.о.', 'Сибирский ф.о.',
       'Уральский ф.о.', 'Дальневосточный ф.о.', 'Восточно-Сибирский ф.о.',
       'Крымский ф.о.', 'Северо-Кавказский ф.о.', 'КГТ', 'ОДЕЖДА', 'ИГРУШКИт',
       'ППКП', 'ИНОЕ'],
      dtype='object')

In [ ]:
showcase_final

,Телефон_new,Выручка_bought,Абсолютная маржа_bought,Маржа_bought,Средняя маржа_bought,Средний чек_bought,Кол-во чеков_bought,Кол-во товаров_bought,Среднее кол-во товаров в чеке_bought,Кол-во уникальных клиентов_bought,...,Уральский ф.о.,Дальневосточный ф.о.,Восточно-Сибирский ф.о.,Крымский ф.о.,Северо-Кавказский ф.о.,КГТ,ОДЕЖДА,ИГРУШКИт,ППКП,ИНОЕ
0,55574954-50515053535277,992,435,0.438508,145.000000,318,3,3,2,1,...,0.0,0.0,0.0,0.0,0.0,0.33,0.33,0.33,0.00,0.0
1,55574851-50484949535070,1698,444,0.261484,222.000000,849,2,2,2,1,...,0.0,0.0,0.0,0.0,0.0,0.00,1.00,0.00,0.00,0.0
2,55575456-53575451535378,20086,6614,0.329284,314.952381,1034,21,24,12,1,...,0.0,0.0,0.0,0.0,0.0,0.04,0.58,0.38,0.00,0.0
3,55574954-56545048505170,4038,1132,0.280337,62.888889,281,18,19,9,1,...,0.0,0.0,0.0,0.0,0.0,0.06,0.00,0.72,0.22,0.0
4,55574954-53555555545178,1280,501,0.391406,250.500000,427,2,3,3,1,...,0.0,0.0,0.0,0.0,0.0,0.00,1.00,0.00,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82156,55574949-57565751545277,1399,500,0.357398,500.000000,1399,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.00,0.00,1.00,0.00,0.0
82157,55574854-55505648555577,1616,75,0.046411,75.000000,1616,1,8,1,1,...,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,1.00,0.0
82158,55575053-50544856505076,3220,1480,0.459627,740.000000,805,2,4,4,1,...,0.0,0.0,0.0,0.0,0.0,0.00,1.00,0.00,0.00,0.0
82159,55575054-55574849485475,225,86,0.382222,86.000000,225,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.00,0.00,1.00,0.00,0.0
82160,55575054-50575353565477,2988,113,0.037818,113.000000,2988,1,2,1,1,...,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,1.00,0.0

In [ ]:
categories = ['КРУПНОГАБАРИТНЫЙ ТОВАР', 'ТЕКСТИЛЬ, ТРИКОТАЖ', 'ОБУВЬ',
              'КАНЦТОВАРЫ, КНИГИ, ДИСКИ', 'ТОВАРЫ ДЛЯ КОРМЛЕНИЯ', 'ИГРУШКИ',
              'КОСМЕТИКА/ГИГИЕНА', 'СОПУТСТВУЮЩИЕ ТОВАРЫ', 'ЖЕНСКИЕ ШТУЧКИ',
              'ПОДГУЗНИКИ', 'ДЕТСКОЕ ПИТАНИЕ', 'ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА',
              'ТОВАРЫ ДЛЯ ЖИВОТНЫХ', 'КГТ', 'ОДЕЖДА', 'ИГРУШКИт',
              'ППКП', 'ИНОЕ']


#Multiply the proportion of each category's revenue by the total revenue for each row
for category in categories:
    new_column_name = category + ' выручка'
    showcase_final[new_column_name] = (showcase_final[category] * showcase_final['Выручка_bought']).round(2)

In [ ]:
showcase_final = showcase_final

In [ ]:
showcase_final.columns

Index(['Телефон_new', 'Выручка_bought', 'Абсолютная маржа_bought',
       'Маржа_bought', 'Средняя маржа_bought', 'Средний чек_bought',
       'Кол-во чеков_bought', 'Кол-во товаров_bought',
       'Среднее кол-во товаров в  чеке_bought',
       'Кол-во уникальных клиентов_bought', 'Ценность клиента_bought',
       'КРУПНОГАБАРИТНЫЙ ТОВАР', 'ТЕКСТИЛЬ, ТРИКОТАЖ', 'ОБУВЬ',
       'КАНЦТОВАРЫ, КНИГИ, ДИСКИ', 'ТОВАРЫ ДЛЯ КОРМЛЕНИЯ', 'ИГРУШКИ',
       'КОСМЕТИКА/ГИГИЕНА', 'СОПУТСТВУЮЩИЕ ТОВАРЫ', 'ЖЕНСКИЕ ШТУЧКИ',
       'ПОДГУЗНИКИ', 'ДЕТСКОЕ ПИТАНИЕ', 'ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА',
       'ТОВАРЫ ДЛЯ ЖИВОТНЫХ', 'Центральный ф.о.', 'Приволжский ф.о.',
       'Северо-Западный ф.о.', 'Южный ф.о.', 'Сибирский ф.о.',
       'Уральский ф.о.', 'Дальневосточный ф.о.', 'Восточно-Сибирский ф.о.',
       'Крымский ф.о.', 'Северо-Кавказский ф.о.', 'КГТ', 'ОДЕЖДА', 'ИГРУШКИт',
       'ППКП', 'ИНОЕ', 'КРУПНОГАБАРИТНЫЙ ТОВАР выручка',
       'ТЕКСТИЛЬ, ТРИКОТАЖ выручка', 'ОБУВЬ выручка',
       'КАНЦТОВАРЫ, КНИГИ, ДИСКИ выручка', 'ТОВАРЫ ДЛЯ КОРМЛЕНИЯ выручка',
       'ИГРУШКИ выручка', 'КОСМЕТИКА/ГИГИЕНА выручка',
       'СОПУТСТВУЮЩИЕ ТОВАРЫ выручка', 'ЖЕНСКИЕ ШТУЧКИ выручка',
       'ПОДГУЗНИКИ выручка', 'ДЕТСКОЕ ПИТАНИЕ выручка',
       'ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА выручка', 'ТОВАРЫ ДЛЯ ЖИВОТНЫХ выручка',
       'КГТ выручка', 'ОДЕЖДА выручка', 'ИГРУШКИт выручка', 'ППКП выручка',
       'ИНОЕ выручка'],
      dtype='object')

In [ ]:
showcase_final

,Телефон_new,Выручка_bought,Абсолютная маржа_bought,Маржа_bought,Средняя маржа_bought,Средний чек_bought,Кол-во чеков_bought,Кол-во товаров_bought,Среднее кол-во товаров в чеке_bought,Кол-во уникальных клиентов_bought,...,ЖЕНСКИЕ ШТУЧКИ выручка,ПОДГУЗНИКИ выручка,ДЕТСКОЕ ПИТАНИЕ выручка,ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА выручка,ТОВАРЫ ДЛЯ ЖИВОТНЫХ выручка,КГТ выручка,ОДЕЖДА выручка,ИГРУШКИт выручка,ППКП выручка,ИНОЕ выручка
0,55574954-50515053535277,992,435,0.438508,145.000000,318,3,3,2,1,...,0.0,0.0,0.0,0.0,0.0,327.36,327.36,327.36,0.00,0.0
1,55574851-50484949535070,1698,444,0.261484,222.000000,849,2,2,2,1,...,0.0,0.0,0.0,0.0,0.0,0.00,1698.00,0.00,0.00,0.0
2,55575456-53575451535378,20086,6614,0.329284,314.952381,1034,21,24,12,1,...,0.0,0.0,0.0,0.0,0.0,803.44,11649.88,7632.68,0.00,0.0
3,55574954-56545048505170,4038,1132,0.280337,62.888889,281,18,19,9,1,...,0.0,0.0,0.0,0.0,0.0,242.28,0.00,2907.36,888.36,0.0
4,55574954-53555555545178,1280,501,0.391406,250.500000,427,2,3,3,1,...,0.0,0.0,0.0,0.0,0.0,0.00,1280.00,0.00,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82156,55574949-57565751545277,1399,500,0.357398,500.000000,1399,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.00,0.00,1399.00,0.00,0.0
82157,55574854-55505648555577,1616,75,0.046411,75.000000,1616,1,8,1,1,...,0.0,0.0,1616.0,0.0,0.0,0.00,0.00,0.00,1616.00,0.0
82158,55575053-50544856505076,3220,1480,0.459627,740.000000,805,2,4,4,1,...,0.0,0.0,0.0,0.0,0.0,0.00,3220.00,0.00,0.00,0.0
82159,55575054-55574849485475,225,86,0.382222,86.000000,225,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.00,0.00,225.00,0.00,0.0
82160,55575054-50575353565477,2988,113,0.037818,113.000000,2988,1,2,1,1,...,0.0,0.0,2988.0,0.0,0.0,0.00,0.00,0.00,2988.00,0.0

In [ ]:
# round values 
showcase_final = showcase_final.round({'Маржа_bought': 2, 'Средняя маржа_bought': 2})

In [ ]:
showcase_final

,Телефон_new,Выручка_bought,Абсолютная маржа_bought,Маржа_bought,Средняя маржа_bought,Средний чек_bought,Кол-во чеков_bought,Кол-во товаров_bought,Среднее кол-во товаров в чеке_bought,Кол-во уникальных клиентов_bought,...,ЖЕНСКИЕ ШТУЧКИ выручка,ПОДГУЗНИКИ выручка,ДЕТСКОЕ ПИТАНИЕ выручка,ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА выручка,ТОВАРЫ ДЛЯ ЖИВОТНЫХ выручка,КГТ выручка,ОДЕЖДА выручка,ИГРУШКИт выручка,ППКП выручка,ИНОЕ выручка
0,55574954-50515053535277,992,435,0.44,145.00,318,3,3,2,1,...,0.0,0.0,0.0,0.0,0.0,327.36,327.36,327.36,0.00,0.0
1,55574851-50484949535070,1698,444,0.26,222.00,849,2,2,2,1,...,0.0,0.0,0.0,0.0,0.0,0.00,1698.00,0.00,0.00,0.0
2,55575456-53575451535378,20086,6614,0.33,314.95,1034,21,24,12,1,...,0.0,0.0,0.0,0.0,0.0,803.44,11649.88,7632.68,0.00,0.0
3,55574954-56545048505170,4038,1132,0.28,62.89,281,18,19,9,1,...,0.0,0.0,0.0,0.0,0.0,242.28,0.00,2907.36,888.36,0.0
4,55574954-53555555545178,1280,501,0.39,250.50,427,2,3,3,1,...,0.0,0.0,0.0,0.0,0.0,0.00,1280.00,0.00,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82156,55574949-57565751545277,1399,500,0.36,500.00,1399,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.00,0.00,1399.00,0.00,0.0
82157,55574854-55505648555577,1616,75,0.05,75.00,1616,1,8,1,1,...,0.0,0.0,1616.0,0.0,0.0,0.00,0.00,0.00,1616.00,0.0
82158,55575053-50544856505076,3220,1480,0.46,740.00,805,2,4,4,1,...,0.0,0.0,0.0,0.0,0.0,0.00,3220.00,0.00,0.00,0.0
82159,55575054-55574849485475,225,86,0.38,86.00,225,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.00,0.00,225.00,0.00,0.0
82160,55575054-50575353565477,2988,113,0.04,113.00,2988,1,2,1,1,...,0.0,0.0,2988.0,0.0,0.0,0.00,0.00,0.00,2988.00,0.0

In [ ]:
# add target column
showcase_final['target'] = 0

In [ ]:
# add target, where 1 - client that bought in last month, 0 - client that did not buy in last month
bought_in_june = df_delivered[df_delivered['МесяцДаты']==6]['Телефон_new']

showcase_final['target'] = showcase_final['Телефон_new'].isin(bought_in_june).astype(int)

print('Non-regular clients:\t', showcase_final[showcase_final['target'] == 0 ]['target'].count())
print('Regular clients:\t', showcase_final[showcase_final['target'] == 1 ]['target'].count())
print('Total:\t\t\t', len(showcase_final))

Non-regular clients:	 39593
Regular clients:	 42568
Total:			 82161

In [ ]:
showcase_final

,Телефон_new,Выручка_bought,Абсолютная маржа_bought,Маржа_bought,Средняя маржа_bought,Средний чек_bought,Кол-во чеков_bought,Кол-во товаров_bought,Среднее кол-во товаров в чеке_bought,Кол-во уникальных клиентов_bought,...,ПОДГУЗНИКИ выручка,ДЕТСКОЕ ПИТАНИЕ выручка,ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА выручка,ТОВАРЫ ДЛЯ ЖИВОТНЫХ выручка,КГТ выручка,ОДЕЖДА выручка,ИГРУШКИт выручка,ППКП выручка,ИНОЕ выручка,target
0,55574954-50515053535277,992,435,0.44,145.00,318,3,3,2,1,...,0.0,0.0,0.0,0.0,327.36,327.36,327.36,0.00,0.0,1
1,55574851-50484949535070,1698,444,0.26,222.00,849,2,2,2,1,...,0.0,0.0,0.0,0.0,0.00,1698.00,0.00,0.00,0.0,0
2,55575456-53575451535378,20086,6614,0.33,314.95,1034,21,24,12,1,...,0.0,0.0,0.0,0.0,803.44,11649.88,7632.68,0.00,0.0,1
3,55574954-56545048505170,4038,1132,0.28,62.89,281,18,19,9,1,...,0.0,0.0,0.0,0.0,242.28,0.00,2907.36,888.36,0.0,0
4,55574954-53555555545178,1280,501,0.39,250.50,427,2,3,3,1,...,0.0,0.0,0.0,0.0,0.00,1280.00,0.00,0.00,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82156,55574949-57565751545277,1399,500,0.36,500.00,1399,1,1,1,1,...,0.0,0.0,0.0,0.0,0.00,0.00,1399.00,0.00,0.0,1
82157,55574854-55505648555577,1616,75,0.05,75.00,1616,1,8,1,1,...,0.0,1616.0,0.0,0.0,0.00,0.00,0.00,1616.00,0.0,1
82158,55575053-50544856505076,3220,1480,0.46,740.00,805,2,4,4,1,...,0.0,0.0,0.0,0.0,0.00,3220.00,0.00,0.00,0.0,1
82159,55575054-55574849485475,225,86,0.38,86.00,225,1,1,1,1,...,0.0,0.0,0.0,0.0,0.00,0.00,225.00,0.00,0.0,1
82160,55575054-50575353565477,2988,113,0.04,113.00,2988,1,2,1,1,...,0.0,2988.0,0.0,0.0,0.00,0.00,0.00,2988.00,0.0,1

In [ ]:
# drop columns that we don't need for final results
showcase_final.drop(['КРУПНОГАБАРИТНЫЙ ТОВАР', 'ТЕКСТИЛЬ, ТРИКОТАЖ', 'ОБУВЬ',
       'КАНЦТОВАРЫ, КНИГИ, ДИСКИ', 'ТОВАРЫ ДЛЯ КОРМЛЕНИЯ', 'ИГРУШКИ',
       'КОСМЕТИКА/ГИГИЕНА', 'СОПУТСТВУЮЩИЕ ТОВАРЫ', 'ЖЕНСКИЕ ШТУЧКИ',
       'ПОДГУЗНИКИ', 'ДЕТСКОЕ ПИТАНИЕ', 'ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА',
       'ТОВАРЫ ДЛЯ ЖИВОТНЫХ'], axis=1, inplace= True)

In [ ]:
showcase_final = showcase_final

In [ ]:
showcase_final

,Телефон_new,Выручка_bought,Абсолютная маржа_bought,Маржа_bought,Средняя маржа_bought,Средний чек_bought,Кол-во чеков_bought,Кол-во товаров_bought,Среднее кол-во товаров в чеке_bought,Кол-во уникальных клиентов_bought,...,ПОДГУЗНИКИ выручка,ДЕТСКОЕ ПИТАНИЕ выручка,ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА выручка,ТОВАРЫ ДЛЯ ЖИВОТНЫХ выручка,КГТ выручка,ОДЕЖДА выручка,ИГРУШКИт выручка,ППКП выручка,ИНОЕ выручка,target
0,55574954-50515053535277,992,435,0.44,145.00,318,3,3,2,1,...,0.0,0.0,0.0,0.0,327.36,327.36,327.36,0.00,0.0,1
1,55574851-50484949535070,1698,444,0.26,222.00,849,2,2,2,1,...,0.0,0.0,0.0,0.0,0.00,1698.00,0.00,0.00,0.0,0
2,55575456-53575451535378,20086,6614,0.33,314.95,1034,21,24,12,1,...,0.0,0.0,0.0,0.0,803.44,11649.88,7632.68,0.00,0.0,1
3,55574954-56545048505170,4038,1132,0.28,62.89,281,18,19,9,1,...,0.0,0.0,0.0,0.0,242.28,0.00,2907.36,888.36,0.0,0
4,55574954-53555555545178,1280,501,0.39,250.50,427,2,3,3,1,...,0.0,0.0,0.0,0.0,0.00,1280.00,0.00,0.00,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82156,55574949-57565751545277,1399,500,0.36,500.00,1399,1,1,1,1,...,0.0,0.0,0.0,0.0,0.00,0.00,1399.00,0.00,0.0,1
82157,55574854-55505648555577,1616,75,0.05,75.00,1616,1,8,1,1,...,0.0,1616.0,0.0,0.0,0.00,0.00,0.00,1616.00,0.0,1
82158,55575053-50544856505076,3220,1480,0.46,740.00,805,2,4,4,1,...,0.0,0.0,0.0,0.0,0.00,3220.00,0.00,0.00,0.0,1
82159,55575054-55574849485475,225,86,0.38,86.00,225,1,1,1,1,...,0.0,0.0,0.0,0.0,0.00,0.00,225.00,0.00,0.0,1
82160,55575054-50575353565477,2988,113,0.04,113.00,2988,1,2,1,1,...,0.0,2988.0,0.0,0.0,0.00,0.00,0.00,2988.00,0.0,1

In [ ]:
# save to csv file final showcase
showcase_final.to_csv('vitrina_final1.csv',index=False,encoding='utf-8')